<?xml version="1.0"?>
<ArrayOfSideBarItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <SideBarItem ID="Important">
        <Titles>
            <Translate LangCode="ru" Text="Что важно знать о гарантии" />
            <Translate LangCode="ua" Text="Що важливо знати про гарантії" />
        </Titles>
        <NavigateUrl>~/{lang}/content/Important.aspx</NavigateUrl>
        <ImageUrl>~/images/iconimportant.png</ImageUrl>
    </SideBarItem>
    <SideBarItem ID="SuccessStories">
        <Titles>
            <Translate LangCode="ru" Text="Истории успеха" />
            <Translate LangCode="ua" Text="Історіі успіху" />
        </Titles>
        <NavigateUrl>~/{lang}/SuccessStories.aspx</NavigateUrl>
        <ImageUrl>~/images/icondiploma.png</ImageUrl>
    </SideBarItem>
    <SideBarItem ID="news">
		<Titles>
			<Translate LangCode="ru" Text="Подписаться&lt;br/&gt; на новости" />
			<Translate LangCode="ua" Text="Підписатися&lt;br/&gt; на новини" />
		</Titles>
		<NavigateUrl>/#Subscribe</NavigateUrl>
		<ImageUrl>~/images/icon_news.png</ImageUrl>
	</SideBarItem>
	<SideBarItem ID="about">
		<Titles>
			<Translate LangCode="ru" Text="О компании ERC" />
			<Translate LangCode="ua" Text="Про компанію ERC" />
		</Titles>
		<NavigateUrl>~/{lang}/content/aboutus.aspx</NavigateUrl>
		<ImageUrl>~/images/icon_about.png</ImageUrl>
		<SideBarItems />
	</SideBarItem>
	<SideBarItem ID="Interesting">
		<Titles>
			<Translate LangCode="ru" Text="Интересно знать" />
			<Translate LangCode="ua" Text="Цікаво знати" />
		</Titles>
		<NavigateUrl>~/{lang}/Interesting.aspx</NavigateUrl>
		<ImageUrl>~/images/icon_about.png</ImageUrl>
		<SideBarItems />
	</SideBarItem>
	<SideBarItem ID="feedback">
		<Titles>
			<Translate LangCode="ru" Text="Обратная связь" />
			<Translate LangCode="ua" Text="Зворотний зв'язок" />
		</Titles>
		<NavigateUrl>~/{lang}/feedback.aspx</NavigateUrl>
		<ImageUrl>~/images/icon_feedback.png</ImageUrl>
		<SideBarItems />
	</SideBarItem>
	<SideBarItem ID="CertificationandOnlineResource">
		<Titles>
			<Translate LangCode="ru" Text="Сертификация и онлайн ресурсы" />
			<Translate LangCode="ua" Text="Сертификация и онлайн ресурсы" />
		</Titles>
		<NavigateUrl>/#</NavigateUrl>
		<ImageUrl>~/images/icon_online_resources.png</ImageUrl>
		<SideBarItems />
	</SideBarItem>
	<SideBarItem ID="Copyright">
		<Titles>
			<Translate LangCode="ru" Text="Использование торговых&lt;br/&gt;марок и символики Apple" />
			<Translate LangCode="ua" Text="Использование торговых&lt;br/&gt;марок и символики Apple" />
		</Titles>
		<NavigateUrl>/#</NavigateUrl>
		<ImageUrl>~/images/icon_online_copyright.png</ImageUrl>
		<SideBarItems />
	</SideBarItem>
	<SideBarItem ID="B2B">
		<Titles>
			<Translate LangCode="ru" Text="Вход на В2В портал" />
			<Translate LangCode="ua" Text="Вход на В2В портал" />
		</Titles>
		<NavigateUrl>https://connect.erc.ua/</NavigateUrl>
		<ImageUrl>~/images/icon_b2b.png</ImageUrl>
		<SideBarItems />
	</SideBarItem>
	<SideBarItem ID="Programms">
		<Titles>
			<Translate LangCode="ru" Text="Программы Apple &lt;br/&gt;по замене и ремонту" />
			<Translate LangCode="ua" Text="Программы Apple &lt;br/&gt;по замене и ремонту" />
		</Titles>
		<NavigateUrl>http://www.apple.com/ru/support/exchange_repair/</NavigateUrl>
		<ImageUrl>~/images/icon_programms.png</ImageUrl>
		<SideBarItems />
	</SideBarItem>
	<SideBarItem ID="WhiteProducts">
		<Titles>
			<Translate LangCode="ru" Text="Как отличить &quot;белые	&quot; &lt;br/&gt; продукты от 	&quot;серых	&quot;" />
			<Translate LangCode="ua" Text="Программы Apple &lt;br/&gt;по замене и ремонту" />
		</Titles>
		<NavigateUrl>~/{lang}/content/Keyboard.aspx</NavigateUrl>
		<ImageUrl>~/images/icon_whitegrey.png</ImageUrl>
		<SideBarItems />
	</SideBarItem>
	<SideBarItem ID="SerialNumberCheck">
		<Titles>
			<Translate LangCode="ru" Text="Проверка серийного номера" />
			<Translate LangCode="ua" Text="Перевірка серійного номера" />
		</Titles>
		<NavigateUrl>~/{lang}/Request_SN.aspx</NavigateUrl>
		<ImageUrl>~/images/sn.jpg</ImageUrl>
		<SideBarItems />
	</SideBarItem>
	<SideBarItem ID="Shipping">
		<Titles>
			<Translate LangCode="ru" Text="Отправка изделий в сервисный центр" />
			<Translate LangCode="ua" Text="Отправка изделий в сервисный центр" />
		</Titles>
		<NavigateUrl>~/files/shipping.pdf</NavigateUrl>
		<ImageUrl>~/images/shipping.jpg</ImageUrl>
		<ImageStyle>width:57px;padding-top:3px;</ImageStyle>
		<SideBarItems />
	</SideBarItem>
</ArrayOfSideBarItem>