<?xml version="1.0"?>
<ArrayOfTemplatedPage xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <TemplatedPage ParentMenuItem="none">
        <Titles>
            <Translate LangCode="ru" Text="Что важно знать о гарантии " />
            <Translate LangCode="ua" Text="Що важливо знати про гарантії" />
        </Titles>
        <Url>Important.aspx</Url>
        <ContentTemplate>Important.htm</ContentTemplate>
        <SideBarItems/>
    </TemplatedPage>
	<TemplatedPage ParentMenuItem="ForPartners">
		<Titles>
			<Translate LangCode="ru" Text="О компании ERC" />
			<Translate LangCode="ua" Text="Про компанію ERC" />
		</Titles>
		<Url>Aboutus.aspx</Url>
		<ContentTemplate>aboutus.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="ForPartners">
		<Titles>
			<Translate LangCode="ru" Text="Использование торговых марок и символики Apple" />
			<Translate LangCode="ua" Text="Использование торговых марок и символики Apple" />
		</Titles>
		<Url>Trademark.aspx</Url>
		<ContentTemplate>trademark.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>

	<TemplatedPage ParentMenuItem="ForPartners">
		<Titles>
			<Translate LangCode="ru" Text="Преимущества авторизованных партнеров" />
			<Translate LangCode="ua" Text="Переваги авторизованих партнерів" />
		</Titles>
		<Url>Advantages.aspx</Url>
		<ContentTemplate>Advantages.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="ForPartners">
		<Titles>
			<Translate LangCode="ru" Text="Сертификация и онлайн-ресурсы" />
			<Translate LangCode="ua" Text="Сертифікація та онлайн-ресурси" />
		</Titles>
		<Url>Certificate.aspx</Url>
		<ContentTemplate>Certificate.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="ForPartners">
		<Titles>
			<Translate LangCode="ru" Text="Авторизованный партнер Apple — кто он?" />
			<Translate LangCode="ua" Text="Авторизованный партнер Apple — кто он?" />
		</Titles>
		<Url>WhoIs.aspx</Url>
		<ContentTemplate>WhoIs.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="ForPartners">
		<Titles>
			<Translate LangCode="ru" Text="Развивайтесь вместе с Apple" />
			<Translate LangCode="ua" Text="Развивайтесь вместе с Apple" />
		</Titles>
		<Url>DevelopWithApple.aspx</Url>
		<ContentTemplate>DevelopWithApple.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="ForPartners">
		<Titles>
			<Translate LangCode="ru" Text="Как авторизованные партнеры могут зарабатывать больше?" />
			<Translate LangCode="ua" Text="Как авторизованные партнеры могут зарабатывать больше?" />
		</Titles>
		<Url>HowCan.aspx</Url>
		<ContentTemplate>HowCan.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="Support">
		<Titles>
			<Translate LangCode="ru" Text="Гарантийные обязательства Apple " />
			<Translate LangCode="ua" Text="Гарантийные обязательства Apple " />
		</Titles>
		<Url>Warranty.aspx</Url>
		<ContentTemplate>Warranty.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="Support">
		<Titles>
			<Translate LangCode="ru" Text="Получение статуса авторизованного сервисного центра по продукции Apple " />
			<Translate LangCode="ua" Text="Получение статуса авторизованного сервисного центра по продукции Apple" />
		</Titles>
		<Url>AASP.aspx</Url>
		<ContentTemplate>AASP.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="Support">
		<Titles>
			<Translate LangCode="ru" Text="Служба поддержки Apple" />
			<Translate LangCode="ua" Text="Служба поддержки Apple" />
		</Titles>
		<Url>Support.aspx</Url>
		<ContentTemplate>Support.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="none">
		<Titles>
			<Translate LangCode="ru" Text="Сертификация Apple" />
			<Translate LangCode="ua" Text="Сертификація Apple" />
		</Titles>
		<Url>Trainings.aspx</Url>
		<ContentTemplate>Trainings.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="none">
		<Titles>
			<Translate LangCode="ru" Text="Семинар 9 марта в Киеве" />
			<Translate LangCode="ua" Text="Семінар 9 березня у Києві" />
		</Titles>
		<Url>ProStudio.aspx</Url>
		<ContentTemplate>ProStudio.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>	
	<TemplatedPage ParentMenuItem="WhyMac">
		<Titles>
			<Translate LangCode="ru" Text="Образование" />
			<Translate LangCode="ua" Text="Освіта" />
		</Titles>
		<Url>Education.aspx</Url>
		<ContentTemplate>Education.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<!--<TemplatedPage ParentMenuItem="WhyMac">
		<Titles>
			<Translate LangCode="ru" Text="Домашние пользователи" />
			<Translate LangCode="ua" Text="Домашні коритсувачі" />
		</Titles>
		<Url>Consumers.aspx</Url>
		<ContentTemplate>Consumers.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>-->
	<TemplatedPage ParentMenuItem="none">
		<Titles>
			<Translate LangCode="ru" Text="Keyboard" />
			<Translate LangCode="ua" Text="Keyboard" />
		</Titles>
		<Url>Info_Keyboard.aspx</Url>
		<ContentTemplate>Keyboard.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	
	<TemplatedPage ParentMenuItem="none">
		<Titles>
			<Translate LangCode="ru" Text="backtoscool" />
			<Translate LangCode="ua" Text="backtoscool" />
		</Titles>
		<Url>backtoscool.aspx</Url>
		<ContentTemplate>backtoscool.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="none">
		<Titles>
			<Translate LangCode="ru" Text="BackToSchool" />
			<Translate LangCode="ua" Text="BackToSchool" />
		</Titles>
		<Url>educationaldiscounts.aspx</Url>
		<ContentTemplate>educationaldiscounts.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>	
	
	<TemplatedPage ParentMenuItem="ForPartners">
		<Titles>
			<Translate LangCode="ru" Text="События" />
			<Translate LangCode="ua" Text="События" />
		</Titles>
		<Url>SMBseminar.aspx</Url>
		<ContentTemplate>SMBseminar.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	
	<TemplatedPage ParentMenuItem="Support">
		<Titles>
			<Translate LangCode="ru" Text="Украинизация ПО" />
			<Translate LangCode="ua" Text="Украинизация ПО" />
		</Titles>
		<Url>Localization.aspx</Url>
		<ContentTemplate>Localization.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="none">
		<Titles>
			<Translate LangCode="ru" Text="" />
			<Translate LangCode="ua" Text="" />
		</Titles>
		<Url>ChristmasCampain.aspx</Url>
		<ContentTemplate>ChristmasCampain.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>
	<TemplatedPage ParentMenuItem="none">
		<Titles>
			<Translate LangCode="ru" Text="" />
			<Translate LangCode="ua" Text="" />
		</Titles>
		<Url>valentinescampaign.aspx</Url>
		<ContentTemplate>valentinescampaign.htm</ContentTemplate>
		<SideBarItems/>
	</TemplatedPage>	
</ArrayOfTemplatedPage>