<div id="contentmenu">
	<table>
		<tr>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="#">Гарантийные обязательства Apple</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="#" class="active">Получение статуса авторизованного сервисного центра по продукции
					Apple</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="#">Авторизованные<br />
					сервисные центры Apple</a>
			</td>
		</tr>
	</table>
</div>
<!-- #contentmenu-->
<div id="container">
	<div id="content">
		<div class="main">
			<img src="~/images/AuthorisedServiceProvider.gif" alt="" style="position: relative;
							z-index: 100; margin-left: -35px;" />
			<p>
				<b>Apple Authorised Service Provider (AASP)</b> — Cтатус Авторизованного Сервис-Провайдера.
				Этот статус дает право самостоятельно заниматься ремонтом оборудования, открывая
				тем самым новые возможности для получения дополнительной прибыли и повышения лояльности
				клиентов.</p>
			<br />
			<h1>
				Условия авторизации</h1>
			<div class="col1">
				<b style="margin: 0px 0px 0px -20px;">1.&nbsp;Точка обслуживания</b>
				<ul style="margin: 0px;">
					<li>Опыт предоставляемых сервисных услуг и/или опыт продаж техники Apple не менее 2
						лет;</li>
					<li>Официальная точка продаж должна иметь профессиональный отдел обслуживания с достаточным
						количеством персонала и принимать технику в ремонт без предварительной записи;</li>
					<li>Официальная точка обслуживания должна иметь подходящее помещение, соответствующее
						стандартам Apple и содержащим требования к:<br />
						— базе данных по ремонту;<br />
						— зоне для работы с клиентами;<br />
						— фасаду здания;<br />
						— помещению ремонтной мастерской и рабочим местам сервис-инженеров;<br />
						— складу для хранения оборудования клиентов;<br />
						— управлению складом запчастей</li>
				</ul>
			</div>
			<div class="col2">
				<b style="margin: 0px 0px 0px -20px;">2.&nbsp;Персонал</b>
				<ul style="margin: 0px;">
					<li>Все технические специалисты, выполняющие ремонт, должны иметь действующий сертификат
						<a href="#">ACMT (Apple Certified Macintosh Technician);</a></li>
					<li>Каждая официальная точка обслуживания должна сохранять базовые нормативы по объему
						ремонтов в течение двух месяцев каждого финансового квартала</li>
				</ul>
				<br />
				<br />
				<br />
				<br />
				<br />
				<br />
				<a href="~/{lang}/Request_AASP.aspx">
				    <img src="~/images/btn_getAppleAuthStatus_RU.png" alt="" />
				</a>
			</div>
			<div class="clear">
			</div>
			<br />
			<br />
			<br />
			<img src="~/images/AuthorisedCollectionPoint.gif" alt="" style="position: relative;
							z-index: 100; margin-left: -45px;" />
			<p>
				<b>Authorised Collection Point (ACP)</b> — Авторизованная Точка по Приему техники
				Apple на сервисное обслуживание. Данный статус можно получить, заключив соглашение
				c Авторизованным Дистрибьютором.</p>
			<div class="col1">
				<p>
					Для получения данного статуса необходимо иметь минимальный уровень закупок по продукции
					Apple (20 000 USD в квартал).
				</p>
			</div>
			<div class="col2">
				<a href="~/{lang}/Request_ACP.aspx">
				    <img src="~/images/btn_getAuthCPointStatus_RU.png" alt="" />
				</a>
			</div>
		</div>
	</div>
	<!-- #content-->
	<div class="clear">
	</div>
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
				<a href="#">Узнать о ходе ремонта</a>
			</td>
			<td>
				<a href="#">
					<img src="~/images/icon_repair.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="#">Программы Apple<br />
					по замене и ремонту</a>
			</td>
			<td>
				<a href="#">
					<img src="~/images/icon_change_repair.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/support/Info_Keyboard.aspx">Как отличать «белые»<br />
					продукты от «серых»</a>
			</td>
			<td>
				<a href="~/{lang}/support/Info_Keyboard.aspx">
					<img src="~/images/icon_differentiate.png" alt="" align="middle" /></a>
			</td>
		</tr>
	<!--	<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/Request_SN.aspx">Проверка серийного номера</a>
			</td>
			<td>
				<a href="~/{lang}/Request_SN.aspx">
					<img src="~/images/sn.jpg" alt="sn.jpg" align="middle" /></a>
			</td>
		</tr>    -->
	</table>
</div>
<!-- .sidebar.sr -->
