<div id="container">
	<div id="content">
		<div class="main">
			<div class="col1">
				<img src="~/images/erc.jpg" alt="ERC" style="margin-bottom: 20px;" />
				<h1>
					Наши координаты</h1>
				    <%Contacts%>
			</div>
			<div class="col2">
				<!--	
				<h1>
					О компании ERC
				</h1>
				-->	
				<p style="margin-top:-6px;">
					Компания <a href="http://www.erc.ua" 
					target="blank" title="Компания ERC является авторизованным дистрибьютором продукции Apple 
					на территории Украины">ERC</a> является авторизованным дистрибьютором продукции Apple на территории
					Украины и в рамках данного статуса отвечает за:
				</p>
				<ul>
					<li>
						<img src="~/images/bullet.gif" alt="" />авторизацию и развитие партнерского канала
						в соответствии с программой авторизации Apple, единой для всей Европы </li>
					<li>
						<img src="~/images/bullet.gif" alt="" />развитие рынков профессионального, потребительского
						образовательного и корпоративного сегментов </li>
					<li>
						<img src="~/images/bullet.gif" alt="" />проведение маркетинговых активностей в соответствии
						со стандартами Apple, направленных на активное продвижения продукции Apple</li>
					<li>
						<img src="~/images/bullet.gif" alt="" />предоставление услуг гарантийного и пост-гарантийного
						обслуживания</li>
				</ul>
			</div>
			<div class="clear">
			</div>
			<p style="margin: 15px 0 25px 0">
				ERC осуществляет свою коммерческую деятельность через бизнес-партнеров — розничные,
				оптовые, консалтинговые компании и сетевые интеграторы. Поддержка постоянных бизнес-партнеров
				— одно из приоритетных направлений деятельности компании. В настоящий момент ERC
				имеет партнерские соглашения более чем с 1200-ми ИТ-компаниями в различных регионах
				Украины, и их количество постоянно увеличивается. Основа работы ERC с каждым партнёром
				— большая линейка продуктов и их постоянное наличие на складе, персональная кредитная
				линия, финансовая дисциплина, а также специальные программы продвижения, маркетинговая,
				рекламная, техническая поддержка, обучение специалистов по продажам и сервисных
				инженеров.</p>
			<!--	
			<div class="col1" style="margin-bottom: 20px;">
				<p>
					ERC продвигает на рынке передовые ИТ-технологии, и развивает долгосрочные партнерские
					отношения с ведущими мировыми производителями информационной индустрии.</p>
				<p>
					В настоящий момент, заключены официальные дистрибьюторские контракты с компаниями:
					<%CompaniesList%>
				</p>
			</div>
			-->
			<!--
			<div class="col2" style="margin-top: 10px;">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td class="ug1">
						</td>
						<td class="ugc">
						</td>
						<td class="ug2">
						</td>
					</tr>
					<tr>
						<td class="ugc">
						</td>
						<td class="ugtxt">
							<h1 style="padding-bottom: 10px;">
								Ресурс и основной капитал ERC:</h1>
							<ul>
								<li>
									<img src="~/images/bullet.gif" alt="" />Прочная финансовая основа </li>
								<li>
									<img src="~/images/bullet.gif" alt="" />Высокая репутация на ИТ-рынке Украины </li>
								<li>
									<img src="~/images/bullet.gif" alt="" />Клиент-ориентированная философия </li>
								<li>
									<img src="~/images/bullet.gif" alt="" />Профессиональный коллектив </li>
								<li>
									<img src="~/images/bullet.gif" alt="" />Разветвленная сеть бизнес-партнеров по всей
									территории Украины. </li>
							</ul>
						</td>
						<td class="ugc">
						</td>
					</tr>
					<tr>
						<td class="ug4">
						</td>
						<td class="ugc">
						</td>
						<td class="ug3">
						</td>
					</tr>
				</table>
			</div>
			-->
		</div>
	</div>
	<!-- #content-->
</div>
<div class="sidebar sr">
	<table align="right">
		<tbody>
			<tr>
				<td class="txtrightmenu">
					<a href="/#Subscribe" id="ctl00_SideBarContent_bar_rItems_ctl01_hl1">Подписаться<br />
						на новости</a>
				</td>
				<td>
					<a href="#" id="ctl00_SideBarContent_bar_rItems_ctl01_hl2">
						<img align="middle" style="border-width: 0px;" src="../../images/icon_news.png" id="ctl00_SideBarContent_bar_rItems_ctl01_icon_news" /></a>
				</td>
			</tr>
			<tr>
				<td class="txtrightmenu">
					<a href="~/{lang}/content/aboutus.aspx" id="ctl00_SideBarContent_bar_rItems_ctl02_hl1">
						О компании ERC</a>
				</td>
				<td>
					<a href="~/{lang}/content/aboutus.aspx" id="ctl00_SideBarContent_bar_rItems_ctl02_hl2">
						<img align="middle" style="border-width: 0px;" src="../../images/icon_about.png"
							id="ctl00_SideBarContent_bar_rItems_ctl02_icon_news" /></a>
				</td>
			</tr>
			<tr>
				<td class="txtrightmenu">
					<a href="~/{lang}/feedback.aspx" id="ctl00_SideBarContent_bar_rItems_ctl03_hl1">Обратная
						связь</a>
				</td>
				<td>
					<a href="~/{lang}/feedback.aspx" id="ctl00_SideBarContent_bar_rItems_ctl03_hl2">
						<img align="middle" style="border-width: 0px;" src="../../images/icon_feedback.png"
							id="ctl00_SideBarContent_bar_rItems_ctl03_icon_news" /></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
