<div id="contentmenu">
	<table class="foursection">
		<tr>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/DevelopWithApple.aspx">Развивайтесь
					<br />
					вместе с Apple</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/WhereToBuy.aspx">Авторизованные<br />
					партнеры Apple<br />
					в Украине</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/WhoIs.aspx">Авторизованный<br />
					партнер Apple —
					<br />
					кто он? </a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/HowCan.aspx">Как
					авторизованные<br />
					партнеры могут<br />
					зарабатывать больше? </a>
			</td>
		</tr>
	</table>
</div>
<!-- #contentmenu-->
<div id="container" class="partners_bg">
	<div id="content">
		<div class="main">
			<div style="width: auto; height: 470px; position: relative;">
				<div style="position: absolute; width: 318px; height: 220px; top: 0px; right: 0px;">
					<h2>
						Преимущества авторизованных партнеров</h2>
					<p>
						Apple является премиум брендом и вследствие этого, выдвигает особые требования к
						своим авторизованным партнерам. Важнейшим критерием успешности делового партнера
						в понимании Apple является его способность создавать дополнительные ценности для
						потребителей. Политика ценообразования на продукты Apple в Украине основывается
						на поощрении партнеров, обеспечивающих максимальный спектр и высокое качество дополнительных
						услуг для потребителей.
					</p>
				</div>
			</div>
			<div class="clear">
			</div>
			<h2>
				Авторизованный партнер Apple — это деловой партнер, отвечающий определенным критериям*
				и получающий следующие преимущества:
			</h2>
		</div>
		<div class="clear">
		</div>
		<br />
		<table width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td class="ug1">
				</td>
				<td class="ugc">
				</td>
				<td class="ug2">
				</td>
			</tr>
			<tr>
				<td class="ugc">
				</td>
				<td class="ugtxt2">
					<table class="foursection v-top">
						<tr>
							<td>
								<ul>
									<li>
										<img src="~/images/bullet.gif" alt="" />Фонд для совместной реализации маркетинго-
										вых акций (MDF)</li>
								</ul>
							</td>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Право на использование логотипа авторизован- ного реселлера Apple</li>
								</ul>
							</td>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Специализированное обучение персонала по продуктам и технологиям Apple</li>
								</ul>
							</td>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Возможность заказывать специальные конфигурации Mac для своих клиентов</li>
								</ul>
							</td>
						</tr>
						
						<tr>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Возможность предлагать клиентам техническую поддержку в качестве авторизованного
										поставщика услуг Apple, получив статус авторизованного сервисного партнера</li>
								</ul>
							</td>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Возможность для клиентов легко найти вашу компанию в системе поиска Авторизованных
										реселлеров на сайте ERC и на сайте Apple</li>
								</ul>
							</td>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Гарантированное участие в программах стимулирования спроса, проводимых Apple и компанией
										ERC</li>
								</ul>
							</td>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Авторизация компании по продуктам Apple позиционирует ее как реселлера мирового
										класса</li>
								</ul>
							</td>
						</tr>
						
						<tr>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Доступ к маркетинговым материалам и инструментам продаж</li>
								</ul>
							</td>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Дополнительные скидки на продукты</li>
								</ul>
							</td>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" />Доступ к демо-продуктам</li>
								</ul>
							</td>
							<td>
								<ul>
									<li><img src="~/images/bullet.gif" alt="" /><img src="~/images/bullet.gif" alt="" />Защита склада</li>
								</ul>
							</td>
						</tr>
					</table>
				</td>
				<td class="ugc">
				</td>
			</tr>
			<tr>
				<td class="ug4">
				</td>
				<td class="ugc">
				</td>
				<td class="ug3">
				</td>
			</tr>
		</table>
		<div class="main">
			<br />
			<p>
				Любой реселлер, соответствующий определенным критериям*, может подать заявку на
				получение статуса Авторизованного реселлера Apple. Когда вы станете авторизованным
				реселлером, все преимущества работы с компанией Apple будут к вашим услугам.
			</p>
			<br />
			<div class="footnote" style="margin-bottom:40px;">
				<div>
					*</div>
				Детальные условия описаны в Программе ERC Apple VAD авторизации партнеров по продукции
				Apple 2009—2010 которую вы можете найти на <a href="https://connect.erc.ua/">B2B сайте компании ERC</a>.
				Программа авторизации партнеров содержит информацию о процедуре квалификации и авторизации
				партнеров по продукции Apple (программные и аппаратные продукты, iPod и аксессуары),
				коммерческих и других условиях сотрудничества между партнером и компанией ERC.
			</div>
		</div>
	</div>
	<!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/partners/certificate.aspx">Сертификация<br /> и онлайн-ресурсы</a>
			</td>
			<td>
				<a href="~/{lang}/partners/certificate.aspx">
					<img src="~/images/icon_online_resources.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/partners/trademark.aspx">Использование <br />торговых
					марок <br />и символики Apple</a>
			</td>
			<td>
				<a href="~/{lang}/partners/trademark.aspx">
					<img src="~/images/icon_copyright.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/PartnersNews.aspx">Hовости для партнеров</a>
			</td>
			<td>
				<a href="~/{lang}/PartnersNews.aspx">
					<img src="~/images/icon_news.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="https://connect.erc.ua/">Вход на В2В портал</a>
			</td>
			<td>
				<a href="https://connect.erc.ua/">
					<img src="~/images/icon_b2b.png" alt="" align="middle" /></a>
			</td>
		</tr>
	</table>
</div>
<!-- .sidebar.sr -->
