<div id="contentmenu">
				<table class="foursection">
					<tr>
						<td>
							<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/DevelopWithApple.aspx">Развивайтесь
								<br />
								вместе с Apple</a>
						</td>
						<td>
							<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/WhereToBuy.aspx">Авторизованные<br />
								партнеры Apple<br />
								в Украине</a>
						</td>
						<td>
							<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/WhoIs.aspx">Авторизованный<br />
								партнер Apple —
								<br />
								кто он? </a>
						</td>
						<td>
							<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/HowCan.aspx">Как авторизованные<br />
								партнеры могут<br />
								зарабатывать больше? </a>
						</td>
					</tr>
				</table>
			</div>
			<!-- #contentmenu-->
			<div id="container">
				<div id="content">
					<div class="main">
						<div class="col1">
							<img src="~/images/apple_certificate.jpg" alt="certificate" style="margin-top: 5px;" />
						</div>
						<div class="col2">
					
							<h1>
								Сертификация и онлайн-ресурсы</h1>
							<p>
								<a href="#">Apple Sales Training Online</a> <b>(ASTO)</b> — это программа интерактивных
								курсов по продажам Apple, ресурс для самостоятельного обучения, специально предназначенный
								для тех, кто продает, поддерживает и представляет продукты Apple. В настоящий момент
								эта программа насчитывает десятки тысяч участников, которые улучшают свои навыки
								продаж и узнают больше о продуктах технологиях Apple.
								<br />
								Обучение проходит через интернет на ресурсе Apple Sales Training Online и вы самостоятельно
								управляете всем процессом, запрашивая доступ к программам обучения у компании ERC.
							</p>
						</div>
						<div class="clear">
						</div>
							<p>
								<a href="#">Apple Sales Web</a> <b>(ASW)</b> — это интернет-портал Apple, который
								содержит материалы по маркетингу и продажам для реселлеров. Вы всегда будете в курсе
								последних новостей. Доступ к данному ресурсу предоставляется компанией ERC.
							</p>
						<br />
						<h1>
							Получение нижеуказанных статусов осуществляется через компанию ERC по следующей
							схеме:
						</h1>
						<div class="col1"  style="position:relative; width: 285px;">
							<div class="note"><img src="~/images/icon_noteOne.jpg" alt="" /></div>
							<p>
								Компания-партнер, которая претендует на статус авторизованного реселера Apple (AAR/APR/ASE)
								подает заявку в компанию ERC на сертификацию одного из своих сотрудников на конкретный
								статус:</p>
							<ul>
								<li>Apple Certified End User — Logic Pro</li>
								<li>Apple Certified End User — Aperture</li>
								<li>Apple Certified End User — Final Cut Pro</li>
								<li>Apple Certified End Trainer — Logic Pro</li>
								<li>Apple Certified End Trainer — Aperture</li>
								<li>Apple Certified End Trainer — Final Cut Pro</li>
								<li>Apple Certified Technical Coordinator (ACTC)</li>
								<li>Mac OS X Support Essential</li>
							</ul>
						</div>
						<div class="col2" style="position:relative;">
						<div class="note"><img src="~/images/icon_noteTwo.jpg" alt="" /></div>
							<p>
								Компания ERC консолидирует заявки и на регулярной основе приглашает сертифицированного
								тренера компании Apple (раз в квартал / 6 месяцев, в зависимости от количества заявок).</p>
							<p>
								Затраты на сертификацию несет компания-партнер. Сертификация проходит в авторизованных
								учебных центрах компании Apple (на нашем сайте можно посмотреть <a href="#">cписок учебных
									центров</a>).</p>
							<p>
								Детальную информацию о сертификации технических координаторов Apple можно найти
								<a href="#">по этой ссылке</a>.
							</p>
						</div>
					</div>
					<div class="clear">
					</div>
				</div>
				<!-- #content-->
			</div>
			<!-- #container-->
			<div class="sidebar sr">
				<table align="right">
					<tr>
						<td class="txtrightmenu">
							<a href="~/{lang}/partners/certificate.aspx" class="active">Сертификация <br />и онлайн ресурсы</a>
						</td>
						<td>
							<a href="~/{lang}/partners/certificate.aspx">
								<img src="~/images/icon_online_resources.png" alt="" align="middle" /></a>
						</td>
					</tr>
					<tr>
						<td class="txtrightmenu">
							<a href="~/{lang}/partners/trademark.aspx">Использование <br />торговых
								марок <br />и символики Apple</a>
						</td>
						<td>
							<a href="~/{lang}/partners/trademark.aspx">
								<img src="~/images/icon_copyright.png" alt="" align="middle" /></a>
						</td>
					</tr>
					<tr>
						<td class="txtrightmenu">
							<a href="~/{lang}/PartnersNews.aspx">Hовости для партнеров</a>
						</td>
						<td>
							<a href="~/{lang}/PartnersNews.aspx">
								<img src="~/images/icon_news.png" alt="" align="middle" /></a>
						</td>
					</tr>
					<tr>
						<td class="txtrightmenu">
							<a href="https://connect.erc.ua/">Вход на В2В портал</a>
						</td>
						<td>
							<a href="https://connect.erc.ua/">
								<img src="~/images/icon_b2b.png" alt="" align="middle" /></a>
						</td>
					</tr>
				</table>
			</div>
			<!-- .sidebar.sr -->