

<script src="/js/jquery.cross-slide.min.js"></script>
<div class="section" id="first">
<div style="overflow: hidden; padding: 0px; position: relative;" id="main-product-shot"><img style="position: absolute; visibility: hidden; top: 0px; left: 0px; border: 0px none;" src="/images/head_image_011.jpg"><img style="position: absolute; visibility: visible; top: 0px; left: 0px; border: 0px none; opacity: 1;" src="/images/head_image_022.jpg"></div>

<div class="sidebar sr" style="margin-left:0px;">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
					<a href="~/{lang}/content/aboutus.aspx">О компании ERC</a>
			</td>
			<td>
					 <a href="~/{lang}/content/aboutus.aspx">
                        <img src="~/images/icon_about.png" style="border-width: 0px;" align="middle"></a>
			</td>
		</tr>
		 <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/feedback.aspx">Обратная связь</a>
                </td>
                <td>
                    <a href="~/{lang}/feedback.aspx">
                        <img src="~/images/icon_feedback.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/Request_SN.aspx">Проверка серийного номера</a>
			</td>
			<td>
				<a href="~/{lang}/Request_SN.aspx">
					<img src="~/images/sn.jpg" alt="sn.jpg" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/content/Important.aspx">Что важно знать о гарантии </a>
			</td>
			<td>
				<a href="~/{lang}/content/Important.aspx">
					<img src="~/images/iconimportant.png" alt="" align="middle" /></a>
			</td>
		</tr>
		
	</table>
</div>

</div>
<div id="container">
	<div id="content">
		<div class="main">
       <!--
	   	   <div id="main-product-shot">
				<img src="~/images/head_image_011.jpg" alt="head_image_01" width="752" height="354" style="visibility: visible; opacity: 1;margin-left:-100px;z-index: 1000;"/>
				<img src="~/images/head_image_022.jpg" alt="head_image_02" width="752" height="354" style="visibility: hidden; opacity: 0;margin-left:-100px;z-index: 1000;" />
			</div>
	   -->
<p id="main-topic" style="margin-left:-85px;">Cделай себе или своей семье подарок к Новому Году: приобрети iMac&nbsp;21.5" за  <strong>13 333 грн</strong>, а также получи <strong>Adobe&reg; Photoshop&reg; Elements&nbsp;9</strong> с каждым компьютером Mac.</p>
        
 <p style="margin-left:-85px;">Ноутбук или настольный компьютер, Mac mini или iMac — какой бы Mac вы ни выбрали, можете быть уверены: в нем используются самые современные технологии, и он готов творить чудеса сразу же, как только вы достанете его из упаковки.</p>
			<p style="margin-left:-85px;">Чтобы узнать о возможностях iMac 21,5", 
			<a href="http://vido.com.ua/video/apple-imac-215-mc508" title="Перейти по ссылке" target="blank" style="color:#d00231">посмотрите специальный видеообзор</a> этого компьютера. 
			<a href="http://vido.com.ua/video/apple-imac-215-mc508" title="Перейти по ссылке" target="blank"><img src="~/images/vido-logo.png" alt="vido-logo" width="45" height="10" style="margin-top: -5px;" /></a></p>
			<p id="campaign-conditions-red" style="margin-left:-85px;"><strong>*Срок проведения акции:</strong> с 15 декабря по 15 января. <strong>
			<br />
			Участники акции</strong> — авторизованные партнеры Apple: 
			<a href="http://www.ierc.com.ua/ru/WhereToBuy.aspx" title="Перейти по ссылке">Comfy</a>, 
			<a href="http://www.computer.donetsk.ua" title="Перейти по ссылке.">ComputerCenter</a>, 
			<a href="http://www.icenter.com.ua" title="Перейти по ссылке">iCenter</a>, 
			<a href="http://store.iland.ua" title="Перейти по ссылке.">iLand</a>, 
			<a href="http://www.istore.ua" title="Перейти по ссылке.">iStore</a> (действует только акция «Photoshop Elements в подарок»), 
			<a href="http://www.makep.com.ua" title="Перейти по ссылке.">iVira</a>, 
			<a href="http://www.lime.mk.ua/" title="Перейти по ссылке">LimeStore</a>,
			<a href="http://www.m-house.com.ua" title="Перейти по ссылке.">m-house</a>, 
			<!--
			<a href="http://www.moyo.ua/" title="Перейти по ссылке.">MoYo</a> (ул. Крещатик, 18), 
			-->
			<a href="http://www.mshop.in.ua/" title="Перейти по ссылке">mShop</a>, <a href="http://mstore.com.ua" title="Перейти по ссылке.">mstore</a>, <a href="http://www.proturbo.com.ua" title="Перейти по ссылке.">Proturbo</a>, &laquo;<a href="http://www.america.cn.ua/" title="Перейти по ссылке">Америка</a>&raquo; &laquo;<a href="http://www.ultrahorizont.com.ua" title="Перейти по ссылке">Ультрагоризонт</a>&raquo;. На акционную модель компьютера iMac 21,5" (МС508RS/A) образовательная скидка не распространяется.</p>        
 <div class="line" style="margin-left: -85px; width: 740px;"></div>
<div class="section" id="last">
			<h2 style="margin-left:-85px;"><img src="~/images/title_11.png" alt="title_1" width="351" height="56" /></h2>
			<table style="margin-left:-85px;">
				<tbody>
					<tr>
						<td width="160" style="padding-right: 10px;">
							<img src="~/images/ipod-touch.jpg" alt="ipod-touch" width="159" height="108" />
							<h3 style="color:#d00231">iPod touch</h3>
							<p>Еще больше возможностей с FaceTime, дисплеем Retina, функцией записи HD-видео и мощным процессором Apple A4. Модели с объемом памяти 8 ГБ, 32 ГБ и 64 ГБ.</p>
						</td>
						<td width="160" style="padding-right: 10px;">
							<img src="~/images/ipod-nano.jpg" alt="ipod-touch" width="159" height="108" />
							<h3 style="color:#d00231">iPod nano</h3>
							<p>Технология Multi-Touch&nbsp;— теперь и в более компактном и лёгком iPod nano со встроенным FM-радио, шагомером, клипсой и множеством других функций. Модели с объемом 8 ГБ и 16&nbsp;ГБ.</p>
						</td>
						<td width="160" style="padding-right: 10px;">
							<img src="~/images/ipod-shuffle.jpg" alt="ipod-touch" width="159" height="108" />
							<h3 style="color:#d00231">iPod shuffle</h3>
							<p>Невероятно компактный аудиоплеер оснащен кнопками, а его функция VoiceOver произносит название песни или плейлиста, который вы слушаете.</p>
						</td>
						<td width="160" style="padding-right: 10px;">
							<img src="~/images/ipod-classic.jpg" alt="ipod-touch" width="159" height="108" />
							<h3 style="color:#d00231">iPod classic</h3>
							<p>160 ГБ для музыки, видео и фотографий. Все свое ношу с собой.</p>
						</td>
					</tr>
				</tbody>
			</table>			
		
</div>
		
			<div class="clear"></div>



		</div>

		
	    </div>
	<!-- #content-->
</div>
<!-- #container-->


<script>
  $(function() {
	$.isEmptyObject = function(obj) { for (var name in obj) return false; return true; };
    $('#main-product-shot').crossSlide({
      sleep: 5,
      fade: 1
    }, [
      { src: '/images/head_image_01c.jpg' },
      { src: '/images/head_image_02c.jpg' }
    ])
  });
</script>

<!-- .sidebar.sr -->
