<div id="contentmenu">
    <table class="foursection">
        <tbody>
            <tr>
                <td>
                    <img src="~/images/contentmenu_separator2.gif" alt="">
                    <a href="~/{lang}/Consumers.aspx" style="font-weight: bold;">Домашние
                        <br>
                        пользователи</a>
                </td>
                <td>
                    <img src="~/images/contentmenu_separator2.gif" alt="">Профессионалы:<br>
                    <a href="~/{lang}/ErcProAudio.aspx">Аудио</a> | <a href="~/{lang}/ErcProVideo.aspx">
                        Видео</a> | <a href="~/{lang}/ErcProPhoto.aspx">Фото</a>
                </td>
                <td>
                    <img src="~/images/contentmenu_separator2.gif" alt="">
                    <a href="~/{lang}/SMB.aspx">Малый и средний
                        <br>
                        бизнес</a>
                </td>
                <td>
                    <img src="~/images/contentmenu_separator2.gif" alt="">
                    <a href="~/{lang}/Education.aspx">Образование</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="container">
    <div id="content">
        <h2 style="margin-left: 25px; margin-bottom: 20px;">
            Почему вы полюбите Mac
        </h2>
        <div style="margin-left: 2px; width: 650px;">
            <img src="~/images/main_consumer.jpg" alt="" style="margin: 0 0 10px 0" /></div>
        <div style="margin-left: 25px; margin-bottom: 30px; width: 644px;">
            <table width="100%">
                <tr>
                    <td valign="top">
                        <p>
                            Почему именно Apple? Потому, что с новым компьютером Главный инструмент разработчика
                            в Mac OS X — это программа Xcode. Её элегантный и функциональный интерфейс создан
                            для управления проектами разработки программного обеспечения. Xcode используется
                            для организации и редактирования исходных файлов, просмотра документации, сборки
                            и отладки программ, оптимизации производительности приложений.</p>
                    </td>
                    <td align="right" valign="top" style="padding: 17px 0 0 25px;">
                        <a href="#">
                            <img src="~/images/bytton_viberete.png" alt="" width="155" height="109" /></a></td>
                </tr>
            </table>
        </div>
        <div style="margin-left: 25px; margin-bottom: 30px; width: 644px;">
            <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td colspan="3" valign="top">
                        <h2>
                            Какой iPod ваш?</h2>
                    </td>
                    <td rowspan="2" valign="top">
                        <img src="~/images/iPodtouch8.jpg" alt="" width="133" height="185" /></td>
                    <td rowspan="2" valign="top">
                        <img src="~/images/iPodtouch32.jpg" alt="" width="145" height="185" /></td>
                </tr>
                <tr>
                    <td valign="top">
                        <img src="~/images/iPodSchuffle.jpg" alt="" width="132" height="166" /></td>
                    <td valign="top">
                        <img src="~/images/iPodNano.jpg" alt="" width="134" height="166" /></td>
                    <td valign="top">
                        <img src="~/images/iPodClassic.jpg" alt="" width="133" height="166" /></td>
                </tr>
                <tr>
                    <td>
                        <h2 style="letter-spacing: -1px; font-size: 18px;">
                            <strong>iPod</strong> shuffle</h2>
                    </td>
                    <td>
                        <h2 style="letter-spacing: -1px; font-size: 18px;">
                            <strong>iPod</strong> nano</h2>
                    </td>
                    <td>
                        <h2 style="letter-spacing: -1px; font-size: 18px;">
                            <strong>iPod</strong> classic</h2>
                    </td>
                    <td>
                        <h2 style="letter-spacing: -1px; font-size: 18px;">
                            <strong>iPod</strong> touch</h2>
                    </td>
                    <td>
                        <h2 style="letter-spacing: -1px; font-size: 18px;">
                            <strong>iPod</strong> touch</h2>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 30px 5px 25px 0">
                        Самый маленький и портативный плеер в мире выпускается в новых
                    </td>
                    <td style="padding: 30px 5px 25px 0">
                        Самый маленький и портативный плеер в мире выпускается в новых
                    </td>
                    <td style="padding: 30px 5px 25px 0">
                        Самый маленький и портативный плеер в мире выпускается в новых
                    </td>
                    <td style="padding: 30px 5px 25px 0">
                        Самый маленький и портативный плеер в мире выпускается в новых
                    </td>
                    <td style="padding: 30px 0 25px 0">
                        Самый маленький и портативный плеер в мире выпускается в новых
                    </td>
                </tr>
                <tr>
                    <td>
                        <a href="#">Подробнее &gt;&gt;</a></td>
                    <td>
                        <a href="#">Подробнее &gt;&gt;</a></td>
                    <td>
                        <a href="#">Подробнее &gt;&gt;</a></td>
                    <td>
                        <a href="#">Подробнее &gt;&gt;</a></td>
                    <td>
                        <a href="#">Подробнее &gt;&gt;</a></td>
                </tr>
            </table>
        </div>
        <div style="width: 660px;">
            <table width="100%" style="margin-left: 0px;">
                <tr>
                    <td style="padding: 15px 5px 20px 0">
                        <img src="~/images/cons1.jpg" alt="" width="185" height="135" /></td>
                    <td valign="top" style="padding-bottom: 20px;">
                        <p>
                            <strong>iTunes. Лучший способ организовывать, просматривать и слушать в</strong></p>
                        <p>
                            Главный инструмент разработчика в Mac OS X — это программа Xcode. Её элегантный
                            и функциональный интерфейс создан для управления проектами разработки программного
                            обеспечения.
                            <br>
                            Xcode используется для организации и редактирования исходных файлов, просмотра документации,
                            сборки и отладки программ, оптимизации производительности приложений.<br>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 20px 0">
                        <img src="~/images/cons2.jpg" alt="" width="185" height="154" /></td>
                    <td valign="top" style="padding-bottom: 20px;">
                        <p>
                            <strong>iLife ’09. Комплект программ цифрового образа жизни Apple. iLif</strong></p>
                        <p>
                            Версия Xcode в системе Snow Leopard также позволяет использовать Диспетчер Grand
                            Central, OpenCL и другие новые технологии. Xcode — это легко настраиваемая интегрированная
                            среда разработки, которая позволяет создать простую, удобную и эффективную рабочую
                            среду.</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 20px 0">
                        <img src="~/images/cons3.jpg" alt="" width="185" height="166" /></td>
                    <td valign="top" style="padding-bottom: 20px;">
                        <p>
                            <strong>iWork ‘09. Документы, таблицы, презентации — в стиле Mac. iWork</strong></p>
                        <p>
                            Версия Xcode в системе Snow Leopard также позволяет использовать Диспетчер Grand
                            Central, OpenCL и другие новые технологии. Xcode — это легко настраиваемая интегрированная
                            среда разработки, которая позволяет создать простую, удобную и эффективную рабочую
                            среду.</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 20px 0">
                        <img src="~/images/cons4.jpg" alt="" width="185" height="160" /></td>
                    <td valign="top" style="padding-bottom: 20px;">
                        <p>
                            <strong>MobileMe. Сохранять актуальность данных — просто. </strong>
                        </p>
                        <p>
                            Версия Xcode в системе Snow Leopard также позволяет использовать Диспетчер Grand
                            Central, OpenCL и другие новые технологии. Xcode — это легко настраиваемая интегрированная
                            среда разработки, которая позволяет создать простую, удобную и эффективную рабочую
                            среду.</p>
                        <p>
                            &nbsp;</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
    <table align="right">
        <tbody>
            <tr>
                <td class="txtrightmenu">
                    <a href="/#Subscribe">Подписаться<br>
                        на новости</a>
                </td>
                <td>
                    <a href="/#Subscribe">
                        <img src="~/images/icon_news.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/content/aboutus.aspx">О компании ERC</a>
                </td>
                <td>
                    <a href="~/{lang}/content/aboutus.aspx">
                        <img src="~/images/icon_about.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/feedback.aspx">Обратная связь</a>
                </td>
                <td>
                    <a href="~/{lang}/feedback.aspx">
                        <img src="~/images/icon_feedback.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- .sidebar.sr -->
