<div id="contentmenu">
	<table class="foursection">
		<tr>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/partners/WhoIs.aspx">Авторизованный партнер Apple — <br />кто он?</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/WhereToBuy.aspx">Авторизованные партнеры Apple<br /> в Украине</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" /><a href="#">Преимущества авторизованных
					партнеров </a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/HowCan.aspx">Как
					авторизованные партнеры могут зарабатывать больше?</a>
			</td>
		</tr>
	</table>
</div>
<!-- #contentmenu-->
<div id="container">
	<div id="content">
		<div class="main">
			<div class="col1">
				<img alt="" src="~/images/developwithApple.png" style="margin-left: -30px; z-index: 100;
					position: relative;" />
			</div>
			<div class="col2">
				<h2>
					Развивайтесь вместе с Apple</h2>
				<p>
					Компания Apple широко известна во всем мире благодаря своим инновационным продуктам.
					Apple умеет создавать продукты, которые отлично отвечают современным запросам пользователей
					и при этом являются простыми и понятными в обращении. Это подтверждает высокая популярность
					Apple во всем мире, что отражается в выдающихся финансовых показателях.
				</p>
				<p>
					Основа успешности продукции Apple является ее высокое качество, дизайн и функциональность.
					Apple сегодня единственная компания в мире, ведущая одновременную разработку аппаратной
					части, операционных систем и приложений собственными силами. Как результат — высокая
					производительность и стабильность всех продуктов Apple, что способствует росту лояльности
					клиентов.</p>
			</div>
			<div class="clear">
			</div>
			<br />
			<br />
			<div class="col1">
				<h2>
					Перспективы развития бизнеса, которые открываются для компании, начавшей работу
					с продуктами Apple:</h2>
				<ul>
					<li>
						<img src="~/images/bullet.gif" alt="" />Возможность увеличить объем продаж и получить
						доступ к новым рынкам</li>
					<li>
						<img src="~/images/bullet.gif" alt="" />Возможность предлагать новые полезные услуги
						для увеличения своей прибыли</li>
					<li>
						<img src="~/images/bullet.gif" alt="" />Скидки, которые увеличиваются по мере достижения
						Вашей компанией новых уровней соответствия критериям авторизованного партнера</li>
					<li>
						<img src="~/images/bullet.gif" alt="" />Повышение статуса Вашей компании и укрепление
						ее имиджа в глазах клиентов </li>
					<li>
						<img src="~/images/bullet.gif" alt="" />Возможность получить статус Авторизованного
						Партнера Apple и соответственно много дополнительных преимуществ</li>
				</ul>
			</div>
			<div class="col2">
				<h2>
					Apple предоставляет неоспоримые преимущества по сравнению с другими производителями:
				</h2>
				<ul>
					<li>
						<img src="~/images/bullet.gif" alt="" />Колебание цен на продукты Apple происходит
						относительно редко, что обеспечивает удобство планирования и стабильность бизнеса</li>
					<li>
						<img src="~/images/bullet.gif" alt="" />Премиальность бренда и профессиональная
						модель построения бизнеса дает партнерам возможность зарабатывать больше </li>
					<li>
						<img src="~/images/bullet.gif" alt="" />Абсолютная (а часто и относительная) маржа
						на продуктах Apple выше</li>
				</ul>
			</div>
			<div class="clear">
			</div>
			<br />
			<br />
			<h2>
				Apple предлагает своим партнерам развиваться на следующих рынках:</h2>
			<br />
			<table width="100%" cellpadding="5">
				<tr>
					<td class="bg_td">
						<img alt="" src="~/images/developwithApple_img1.jpg" />
						<b>Профессиональные рынки — фото, видео и аудио</b>
						<p>
							Приложения Apple умеют работать с видео, фото и аудио на профес- сиональном уровне.
							Реселлеры получают возможность выйти на растущие рынки с передовой комбина- цией
							аппаратных средств Mac и уникаль- ным программным обеспечением Apple.</p>
					</td>
					<td>
						&nbsp;</td>
					<td class="bg_td">
						<img alt="" src="~/images/developwithApple_img2.jpg" />
						<b>Потребительский рынок</b><br />
						<p>
							Потребительский сег- мент обладает огромным потенциалом будущего развития. У вас
							есть прекрасная возможность получить максимум от значитель- ного спроса на продук-
							ты Apple. Лояльность пользователей заслу- женно очень высока.
						</p>
					</td>
					<td>
						&nbsp;</td>
					<td class="bg_td">
						<img alt="" src="~/images/developwithApple_img3.jpg" />
						<b>Образование</b><br />
						<p>
							Сфера образования от- крывает множество воз- можностей для ресел- леров. Компьютеры
							Mac основаны на открытых стандартах и подходят для существующих сетей. Они просты
							в поддержке и позво- ляют преподавателям и студентам делать потрясающие вещи.
						</p>
					</td>
					<td>
						&nbsp;</td>
					<td class="bg_td">
						<img alt="" src="~/images/developwithApple_img4.jpg" />
						<b>Корпоративный рынок </b>
						<br />
						<p>
							В какой бы сфере не ра- ботали Ваши заказчики, в любой из них компью- теры Mac завоевывает
							популярность. С помощью продуктов Apple можно уменьшить затраты, повысить производительность,
							снизить риски и повы- сить гибкость бизнеса.</p>
					</td>
				</tr>
			</table>
		</div>
		<br />
	</div>
	<!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
				<a href="#">Сертификация <br /> и онлайн ресурсы</a>
			</td>
			<td>
				<a href="#">
					<img src="~/images/icon_online_resources.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="#">Использование торговых<br />
					марок и символики Apple</a>
			</td>
			<td>
				<a href="#">
					<img src="~/images/icon_copyright.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/PartnersNews.aspx">Hовости для партнеров</a>
			</td>
			<td>
				<a href="~/{lang}/PartnersNews.aspx">
					<img src="~/images/icon_news.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="https://connect.erc.ua/">Вход на В2В портал</a>
			</td>
			<td>
				<a href="https://connect.erc.ua/">
					<img src="~/images/icon_b2b.png" alt="" align="middle" /></a>
			</td>
		</tr>
	</table>
</div>
<!-- .sidebar.sr -->
