<div id="container">
	<div id="content">
		<div class="main">
       
        <!-- <img src="~/images/main_product_shot.jpg" alt="main_product_shot" width="752" height="354" style="margin-left:-85px;z-index: 1000;" /> -->
        <img src="~/images/education_main.jpg" alt="main_product_shot" width="540" height="388" style="margin-left:-30px;z-index: 1000;" />
             
        
        
 <div class="line" style="margin-left: -85px; width: 740px;"></div>       
        
        
		
<h1><img src="~/images/title_2n_new.png" alt="Образовательные скидки теперь доступны в&nbsp;Украине" style="margin-left: -85px;" /></h1>

			<p style="margin-left:-85px;">Для многих людей не будет секретом тот факт, что Apple является чрезвычайно популярной платформой для образовательной среды во всем мире. Более 30&nbsp;лет Apple является ведущим разработчиком и&nbsp;поставщиком инновационных продуктов и&nbsp;решений, которые вдохновляют  студентов и&nbsp;обеспечивают фундамент для усовершенствованных методов обучения, отвечающих изменяющимся тенденциям современного мира.</p>
			<p style="margin-left:-85px;">Благодаря данной программе платформа Apple будет еще доступнее в&nbsp;Украине как для учителей, студентов и&nbsp;преподавателей, так и&nbsp;для учебных заведений разных типов. 
			Более того, образовательными скидками смогут воспользоваться украинские библиотеки, музеи, художественные галереи, т. е. те  организации, которые способствуют  развитию культурной среды и&nbsp;сферы  образования в&nbsp;Украине.</p>
		
			<div class="clear"></div>
<div class="line" style="margin-left: -85px; width: 740px;"></div>            
            <h1  style="margin-left:-85px;"><img src="~/images/title_3.png" width="517" height="23" alt="Условия программы довольно просты:" /></h1>
            
            <table  style="margin-left:-85px; width: 740px;">
				<thead>
					<tr>
						<td style="padding: 5px 20px;border-right: solid 1px white;">Скидка для индивидуальных покупателей</td>
						<td style="padding: 5px 20px;border-right: solid 1px white;">Скидка для образовательных учреждений </td>
					</tr>
				</thead>
				<tbody class="textfull">
					<tr class="alternate">
						<td style="padding: 5px 20px;border-right: solid 1px white;">
							<p>В размере 5%* предоставляется:</p>
							<ul style="margin-left: 20px;">
								<li> <img alt="" src="~/images/bullet.gif">студентам любой формы обучения;</li>
								<li><img alt="" src="~/images/bullet.gif">преподавателям и&nbsp;учителям</li>
							</ul>
							<p>при покупке одного из компьютеров:</p>
							<ul style="margin-left: 20px;">
								<li><img alt="" src="~/images/bullet.gif"> iMac</li>
								<li><img alt="" src="~/images/bullet.gif"> MacBook Pro</li>
								<li><img alt="" src="~/images/bullet.gif"> MacBook Air</li>
								<li><img alt="" src="~/images/bullet.gif"> Mac mini</li>
								<li><img alt="" src="~/images/bullet.gif"> Mac Pro</li>
							</ul>
							<p>а также не более двух дисплеев (Apple LED Cinema Display) 
							в течение одного календарного года.</p>
						</td>
						<td style="padding: 5px 20px;border-right: solid 1px white;">
							<p >В размере 7%* предоставляется:</p>
							<ul style="margin-left: 20px;">
								<li><img alt="" src="~/images/bullet.gif"> начальным и&nbsp;общеобразовательным школам;</li>
								<li><img alt="" src="~/images/bullet.gif"> лицеям, гимназиям, колледжам, техникумам;</li>
								<li><img alt="" src="~/images/bullet.gif"> институтам (включая некоммерческие исследовательские), университетам;</li>
								<li><img alt="" src="~/images/bullet.gif"> вузам последипломного образования;</li>
								<li><img alt="" src="~/images/bullet.gif"> летним школам, а&nbsp;также другим образовательным учреждениям;</li>
								<li><img alt="" src="~/images/bullet.gif"> библиотекам, музеям, художественным галереям</li>
							</ul>
							<p>при обращении к&nbsp;авторизованным партнерам, у&nbsp;которых они смогут получить консультацию по&nbsp;выбору оптимального решения, а&nbsp;также осуществить поставку продукции, обеспечив ее послепродажной поддержкой и&nbsp;сервисным обслуживанием.</p>
						</td>
					</tr>
				</tbody>
			</table>
               
 	<p  style="margin-left:-85px;">Для получения скидки в&nbsp;момент покупки пользователи должны предоставить документы, 
	подтверждающие личность и&nbsp;факт принадлежности к&nbsp;категории покупателей, на которых распространяется 
	данная программа. Авторизованные партнеры принимающие участие в&nbsp;программе: 
		<a href="http://www.america.cn.ua/" title="Перейти по ссылке." target="blank">America!</a>, 
		<a href="http://www.computer.donetsk.ua" title="Перейти по ссылке." target="blank">ComputerCenter</a>, 
		<a href="http://www.ctline.com.ua/" title="Перейти по ссылке." target="blank">CTLine</a>, 
		<a href="http://www.icenter.ua//" title="Перейти по ссылке." target="blank">iCenter</a>,  
		<a href="http://store.iland.ua" title="Перейти по ссылке." target="blank">iLand</a>, 
		<a href="http://www.imag.od.ua/" title="Перейти по ссылке." target="blank">iMag</a>, 
		<a href="http://www.incom.ua/" title="Перейти по ссылке." target="blank">Incom</a>, 
		<a href="http://www.istore.ua" title="Перейти по ссылке." target="blank">iStore</a>,
		<a href="http://www.ispace.com.ua/" title="Перейти по ссылке." target="blank">iSpace (OS Component)</a>,
		<a href="http://istudio.kiev.ua/ " title="Перейти по ссылке." target="blank">iStudio</a>, 		
		<a href="http://www.makep.com.ua" title="Перейти по ссылке." target="blank">iVira</a>, 
		<a href="http://www.lime.ua/" title="Перейти по ссылке." target="blank">LimeStore</a>, 
		<a href="http://www.m-house.com.ua" title="Перейти по ссылке." target="blank">m-house</a>, 
		<a href="http://www.moyo.ua/" title="Перейти по ссылке." target="blank">MOYO</a>, 
		<a href="http://www.mshop.in.ua" title="Перейти по ссылке." target="blank">mShop</a>, 
		<a href="http://mstore.com.ua" title="Перейти по ссылке." target="blank">mstore</a>, 
		<!--<a href="http://www.novatek.com.ua/" title="Перейти по ссылке." target="blank">Novatek</a>, 
		<a href="http://www.proturbo.com.ua" title="Перейти по ссылке." target="blank">Proturbo</a>, -->
		<a href="http://www.ultrahorizont.com.ua/" title="Перейти по ссылке." target="blank"> UltraHorizont</a>, 
		<!-- <a href="http://www.restore.ua" title="Перейти по ссылке.">re:Store</a>, SL-Education, -->
		<!--<a href="http://www.os.com.ua" title="Перейти по ссылке.">«Атриум»</a>.-->
		<a href="http://protoria.ua/" title="Перейти по ссылке." target="blank"> Protoria</a>,
		<a href="http://whitestore.com.ua/ " title="Перейти по ссылке." target="blank"> WhiteStore</a>,
		<a href="http://cifrovikpro.com/ " title="Перейти по ссылке." target="blank">Цифровик Про.</a>
		</p>
			<p class="footnote" style="margin-left:-85px;">*Точный размер скидки зависит от&nbsp;типа продукта, а&nbsp;также от&nbsp;категории покупателя. Уточнить эту информацию можно, обратившись к&nbsp;партнерам-участникам данной программы.</p>           
<div class="line" style="margin-left: -85px; width: 740px;"></div>		        
        <div class="section" id="last"  style="margin-left:-85px;margin-bottom: 20px;">
			<h1><img src="~/images/title_4.png"  width="552" height="47" alt="Mac станет отличным партнером в&nbsp;учебе и&nbsp;повседневной жизни" /></h1>
			
			<img class="floating-illustration" src="~/images/iPad_iPhoto_Hero.jpg" alt="iLife" width="207" height="102" />
			<h2>Больше творчества с&nbsp;iLife</h2>
			<p>Каждый Mac поставляется с&nbsp;пакетом iLife, заслужившим широкое признание набором творческих инструментов от&nbsp;Apple. Вы сможете по-новому оформить свои фотографии и&nbsp;музыку, а&nbsp;также сделать курсовую работу ещё ярче, добавив в&nbsp;неё видео и&nbsp;подкасты.</p>
			<div class="clear"></div>
			
			<img class="floating-illustration" src="~/images/OS_MountainLion.jpg" alt="Mac OS X Snow Leopard" width="207" height="133" />
			<h2>Включайте&nbsp;— и&nbsp;вперед!</h2>
			<p>	На каждый Мас установлена система OS X Mountain Lion. Преподаватели и студенты могут подготовить материалы на 
			Мас и показать их всему классу с помощью функции видеоповтора AirPlay, 
			гости могут посетить занятие с помощью видеочата, используя внутреннюю камеру и FaceTime – это только некоторые из функций OSXMountainLion, 
			которые позволяют сделать обучение и совместную работу еще динамичнее и увлекательнее.</p>
			<div class="clear"></div>
			
			<img class="floating-illustration" src="~/images/MS-Office-for-Mac-2011.jpg" alt="Microsoft Office" width="207" height="133" />
			<h2>Работа с&nbsp;Microsoft Office и&nbsp;обмен файлами с&nbsp;PC</h2>
			<p>Вы можете использовать Microsoft Office на своём Mac, а&nbsp;также обмениваться файлами с&nbsp;PC. На самом деле, вы можете использовать почти все форматы документов как на Mac, так и&nbsp;на PC, и&nbsp;без проблем обмениваться идеями с&nbsp;однокурсниками.</p>
			<div class="clear"></div>
			
			<img class="floating-illustration" src="~/images/mac_screenshot_04.jpg" alt="Всегда на связи" width="207" height="90" />
			<h2>Всегда на связи</h2>
			<p>Mac разработан так, чтобы вы могли быстро подключиться к&nbsp;любой сети Wi-Fi. Или мгновенно подключить практически любую камеру и&nbsp;принтер&nbsp;— никакие драйверы вам не понадобятся.</p>
			<div class="clear"></div>
			<img class="floating-illustration" src="~/images/mac_screenshot_05.jpg" alt="Общение без преград Messages FaceTime " width="207" height="110" />
			<h2>Общение без преград</h2>
			<p>С Mac вы всегда сможете поддерживать связь и&nbsp;с&nbsp;новыми друзьями в&nbsp;университете, и&nbsp;с&nbsp;близкими. 
			Он поставляется с&nbsp;программой Messages и&nbsp;со&nbsp;встроенной камерой FaceTime&nbsp;— просто включите и&nbsp;общайтесь. 
			Электронная почта тоже под рукой, чтобы вы могли написать несколько слов родителям.</p>
           <p>&nbsp;</p> 		
		</div>


		</div>

		
	    </div>
	<!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
					<a href="~/{lang}/content/aboutus.aspx">О компании ERC</a>
			</td>
			<td>
					 <a href="~/{lang}/content/aboutus.aspx">
                        <img src="~/images/icon_about.png" style="border-width: 0px;" align="middle"></a>
			</td>
		</tr>
		 <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/feedback.aspx">Обратная связь</a>
                </td>
                <td>
                    <a href="~/{lang}/feedback.aspx">
                        <img src="~/images/icon_feedback.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/Request_SN.aspx">Проверка серийного номера</a>
			</td>
			<td>
				<a href="~/{lang}/Request_SN.aspx">
					<img src="~/images/sn.jpg" alt="sn.jpg" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/content/Important.aspx">Что важно знать о гарантии </a>
			</td>
			<td>
				<a href="~/{lang}/content/Important.aspx">
					<img src="~/images/iconimportant.png" alt="" align="middle" /></a>
			</td>
		</tr>
		
	</table>
</div>
<!-- .sidebar.sr -->
