<div id="contentmenu">
	<table class="foursection">
		<tbody><tr>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="">
				<a href="~/{lang}/Consumers.aspx">Домашние <br>пользователи</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="">Профессионалы:<br>
				<a href="~/{lang}/ErcProAudio.aspx">Аудио</a> | 
				<a href="~/{lang}/ErcProVideo.aspx">Видео</a> | 
				<a href="~/{lang}/ErcProPhoto.aspx">Фото</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="">
				<a href="~/{lang}/SMB.aspx">Малый и средний <br>бизнес</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="">
				<a href="~/{lang}/Education.aspx" style="font-weight:bold;">Образование</a>
			</td>
		</tr>
	</tbody></table>
</div>
<div id="container">
    <div id="content">
        <div style="margin-left: 25px; width: 650px;">
            <img src="~/images/main_education.jpg" alt="" style="margin: 0 0 10px 0" />
            <table width="100%" style="margin-bottom: 30px;">
                <tr>
                    <td width="50%" style="padding-right: 20px;">
                        <p>
                            <img src="~/images/classi_buduchego.jpg" alt="" width="81" height="80"
                                align="left" /><strong>Классы Будущего — сегодня. </strong>
                        </p>
                        <p>
                            Apple играет ведущую роль в развитии концепций обучения XXI века. Apple является единственной компанией в мире, 
							которая создала полную экосистему для сферы образования, включая аппаратное обеспечение, операционную систему и 
							приложения. Все эти компоненты тесно интегрированы и прекрасно работают друг с другом. 
							<br />
							Благодаря такой интеграции 
							во время обучения преподаватели и их ученики защищены от простоя и неэффективного использования времени, посвящая 
							его решению творческих задач. Более детально с подходами Apple к организации Класса Будущего можно познакомиться 
							в документе <a href="http://www.apple.com/education/leaders-administrators/resources/" target="blank">ACOT</a> (Apple Class Of Tomorrow). 
							</p>
                    </td>
                    <td>
                        <p>
                            <img src="~/images/classi_buduchego2.jpg" alt="" width="83" height="88"
                                align="left" />Портал, разработанный Apple — <a href="http://education.apple.com/itunesu/" target="blank">iTunes U </a> (U — University) 
								быстро стал самым крупным и быстрорастущим источником бесплатных мобильных образовательных материалов, 
								доступных в том числе и украинским пользователям. Для многих ведущих университетов мира iTunes U стал 
								цифровой визитной карточкой, важной имиджевой и репутационной составляющей их успеха и презентацией качества 
								преподавания.<br / >
								Для студентов и школьников iMac, Macbook, iPod Touch предлагают высокую производительность и удобство, 
								возможности интеграции и запуска приложений Windows, надёжность и простоту использования — именно поэтому 
								они стали неотъемлемой частью современного процесса обучения. И при этом они обеспечивают развитие  навыков, 
								которые потребуются в дальнейшем для  успешной карьеры.</p>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 660px;">
            <table width="100%" style="margin-left: 14px;">
                <tr>
                    <td style="padding: 15px 5px 0 0">&nbsp;
                        </td>
                    <td valign="top" style="paddin-bottom: 35px;">
                        <h2>
                            Новейший опыт для учителей и преподавателей</h2>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/edu1.jpg" alt="" width="178" height="132" /></td>
                    <td valign="top" style="padding-bottom: 40px;">
                        <p>
                            Огромное количество школ и университетов в мире выбрали Apple в качестве основной платформы для построения 
							учебного процесса на основе современных технологий. Этот опыт сегодня открыт для Украины. <a href="http://www.apple.com/education/teachers-professors/profiles.html" target="blank">Посетите нашу страницу</a>, 
							рассказывающую про то, какие волшебные изменения происходят в школах, внедряющих концепции образования Apple, после чего <a href="http://www.ierc.com.ua/ru/feedback.aspx" target="blank">свяжитесь с нами</a>, 
							или с авторизованными экспертами ASE-e (Apple Solution Expert-Education) — компаниями, обладающими необходимыми знаниями
							и опытом для построения оптимального решения для вас.<br />
							А чтобы и в дальнейшем помогать вам в процессе обучения, Apple предоставляет для вас обучающие видео-материалы, 
							доступные в любое время на <a href="http://www.apple.com/education/teachers-professors/online-tutorials.html" target="blank">странице, посвященной образованию</a>. Они окажут вам помощь при организации учебного процесса, 
							или подготовке ваших лекций или занятий.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">&nbsp;
                        </td>
                    <td valign="top" style="paddin-bottom: 35px;">
                        <h2>
                            Лучший компьютер для обучения для школьников и студентов</h2>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/edu2.jpg" alt="" width="178" height="115" /></td>
                    <td valign="top" style="padding-bottom: 40px;">
                        <p>
                           Когда школьники или студенты покидают стены альма-матер, они вступают в мир, в котором знания, 
						   как распространить свои идеи так же важны, как и знания, как эти идеи разработать и воплотить в жизнь. 
						   Apple предоставляет ученикам средства, позволяющие все это воплотить в жизнь.  
						   Приложения, поставляемые вместе с компьютерами Apple, дают возможность студентам выразить себя посредством 
						   разнообразных проектов профессионального уровня – создания видео, презентаций, подкастов, web-сайтов, письменных работ, 
						   аналитических отчетов, и т.д. Более того, эти все приложения тесно интегрированы, что позволяет преподавателям 
						   и студентам создавать совместно программы, направляющие и вдохновляющие творчество в учебном классе.</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">&nbsp;
                        </td>
                    <td valign="top">
                        <h2>
                            Удобство администрирования и поддержки
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/edu3.jpg" alt="" width="178" height="178" /></td>
                    <td valign="top" style="padding-bottom: 40px;">
                        <p>
                            Образовательные учреждения сегодня требуют технологии, которые будут надежно работать в мультиплатформенном окружении, 
							предоставляя высокую степень защиты и безопасности, и обеспечивать высокий показатель возврата на вложенные инвестиции. 
							Решения Apple дают такую возможность.
							С помощью Apple вы можете рассчитывать на надежность и стабильность операционной системы UNIX – не только для сервера, 
							но и на каждом рабочем столе.  Mac OS X – это мощная операционная система, построенная на открытых стандартах. 
							Она позволяет пользователям работать в сети и с приложениями без дополнительной помощи администратора, частых смен конфигураций или дополнительных затрат.<br />
							<a href="http://www.apple.com/education/it-professionals/" target="blank">Посетите специальную страницу</a>, посвященную обсуждению того, как технологии Apple позволяют управлять тысячами компьютеров с помощью всего нескольких человек.</p>
                    </td>
                </tr>
            </table>
            <div style="margin-left: 25px; margin-top: 40px; width: 650px;">
                <img src="~/images/main_education2.jpg" alt="" /></div>
            <h2>&nbsp;
                </h2>
        </div>
        <div style="margin-left: 25px; margin-bottom: 30px; width: 650px;">
            <h2>
                Почему Mac идеален для студента
            </h2>
            <table>
                <tr>
                    <td>
                        <img src="~/images/tr1.jpg" alt="" width="156" height="109" /></td>
                    <td>
                        <img src="~/images/tr2.jpg" alt="" width="155" height="109" /></td>
                    <td>
                        <img src="~/images/tr3.jpg" alt="" width="155" height="109" /></td>
                    <td>
                        <img src="~/images/tr4.jpg" alt="" width="152" height="109" /></td>
                </tr>
                <tr>
                    <td valign="top" style="padding-right: 5px;">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="http://www.apple.com/ru/macosx/" target="blank"><strong>Идеальный компьютер для университетской жизни</strong></a></p>
                        <span style="line-height: 16px;">С компьютером Mac студенту легче учиться. Встроенное ПО позволяет творчески оформить идеи, 
						а работа идёт продуктивнее — без вирусов и сбоев.  </span>
                    </td>
                    <td valign="top" style="padding-right: 5px;">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="http://www.apple.com/ru/macosx/features/bootcamp.html" target="blank"><strong>Microsoft Office и Windows</strong></a></p>
                        <span style="line-height: 16px;">Любой Mac работает с Microsoft Office, а также имеет программное обеспечение, позволяющее устанавливать ОС Windows. 
						Это означает, что с Mac студентам не будет нужен никакой другой компьютер</span>
                    </td>
                    <td valign="top" style="padding-right: 5px;">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <strong><a href="http://www.apple.com/ru/macbook/white/features.html" target="blank">Встроенная поддержка беспроводной сети</a></strong></p>
                        <span style="line-height: 16px;">Каждый новый Mac поставляется со встроенными средствами беспроводной связи, 
						которые обеспечивают подключение ноутбука к любой сети Wi-Fi — в отличие от многих PC.</span>
                    </td>
                    <td valign="top">
                        <p style="line-height: 14px; letter-spacing: -1px;">
                            <a href="http://www.apple.com/ru/business/" target="blank"><strong>Подготовка студентов к выходу в большой мир</strong></a></p>
                        <span style="line-height: 16px;">Mac идеально подходит для каждой профессии — 
						от бизнеса и науки до любых творческих занятий. Используя Mac, студент всегда будет идти в ногу со временем.  </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/tr5.jpg" alt="" width="156" height="98" /></td>
                    <td>
                        <img src="~/images/tr6.jpg" alt="" width="155" height="98" /></td>
                    <td>
                        <img src="~/images/tr7.jpg" alt="" width="155" height="98" /></td>
                    <td>
                        <img src="~/images/tr8.jpg" alt="" width="152" height="98" /></td>
                </tr>
                <tr>
                    <td valign="top" style="padding-right: 5px;">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="http://www.apple.com/ru/ilife/" target="blank"><strong>Всё, что нужно студенту, — уже установлено</strong></a></p>
                        <span style="line-height: 16px;">Каждый Mac поставляется с бесплатным ПО iLife: веб-страницы, редактирование видео и обработка фотографий — всё для создания впечатляющих отчётов и презентаций.
 </span>
                    </td>
                    <td valign="top" style="padding-right: 5px;">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="http://www.apple.com/ru/itunes/whatson/itunesu.html" target="blank"><strong>iTunes U: новый способ обучения</strong></a></p>
                        <span style="line-height: 16px;">iTunes U — инновационная веб-служба, которая позволяет студентам получать доступ к бесплатным образовательным 
						аудио- и видеокурсам. С Mac вам будут доступны все её возможности.  </span>
                    </td>
                    <td valign="top" style="padding-right: 5px;">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <strong><a href="http://www.apple.com/ru/macbook/design.html" target="blank">Мощный и надёжный MacBook</a></strong></p>
                        <span style="line-height: 16px;">Ноутбук MacBook был проверен и доказал свои великолепные качества в лекционных залах, 
						студенческих общежитиях и рюкзаках непосед. Он просто более надёжен, чем PC. Он будет со студентом до самого окончания университета. </span>
                    </td>
                    <td valign="top">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="http://www.apple.com/ru/macosx/features/ichat.html" target="blank"><strong>iChat: будьте на связи с близкими</strong></a></p>
                        <span style="line-height: 16px;">С помощью iChat и встроенной камеры iSight вы сможете пообщаться со своим ребёнком, 
						который учится вдали от дома — вы сможете рассказать ему намного больше, чем по междугороднему телефону. </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/tr9.jpg" alt="" width="156" height="108" />
                         <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="http://www.apple.com/ru/itunes/podcasts/" target="blank"><strong>Бесплатные подкасты на любой вкус</strong></a></p>
                        <span style="line-height: 16px;">В iTunes Store есть более 150 000 подкастов. Что такое подкаст? Это что-то вроде радио- или телепередачи, 
						которая может быть посвящена любой теме. В iTunes собраны подкасты, которые публикуют как отдельные пользователи, 
						так и известные компании. </span></td>
                    <td colspan="3" rowspan="2" valign="top" style="padding: 40px 0 0 80px;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="ug1">
                                </td>
                                <td class="ugc">
                                </td>
                                <td class="ug2">
                                </td>
                            </tr>
                            <tr>
                                <td class="ug1">
                                </td>
                                <td class="ugc">
                                </td>
                                <td class="ug2">
                                </td>
                            </tr>
                            <tr>
                                <td class="ugc">
                                </td>
                                <td class="ugtxt">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <img src="~/images/solution-exp.png" alt="" /></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 60px;">
                                                <p>
                                                    <strong>Apple Solution Experts for Education</strong> (ASE-e) — это реселлеры, выбранные Apple за их опыт в сфере образования. 
													Они помогают школам, университетам и другим учебным заведениям выбрать, установить и поддерживать нужное решение. 
													Статус авторизации ASE-e гарантирует, что в штате у данного реселлера есть прошедшие обучение и сдавшие 
													сертификационный экзамен специалисты, знания и опыт которых обеспечивают высокую компетенцию предлагаемых 
													и внедряемых решений в сфере образования.<br/ ><br />
													Адрес ближайшего к вам ASE, вы можете найти в <a href="http://ierc.com.ua/ru/WhereToBuy.aspx" target="blank">списке Авторизованных Партнеров Apple в Украине.</a></p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="ugc">
                                </td>
                            </tr>
                            <tr>
                                <td class="ug4">
                                </td>
                                <td class="ugc">
                                </td>
                                <td class="ug3">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                       
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
    <table align="right">
        <tbody>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/SuccessStories.aspx" >Истории успеха</a>
                </td>
                <td>
                    <a href="~/{lang}/SuccessStories.aspx" ><img align="middle" style="border-width: 0px;" src="~/images/icondiploma.png"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/content/educationaldiscounts.aspx">Образовательные<br>
                        скидки</a>
                </td>
                <td>
                    <a href="~/{lang}/content/educationaldiscounts.aspx">
                        <img src="~/images/icon_persent.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/content/aboutus.aspx">О компании ERC</a>
                </td>
                <td>
                    <a href="~/{lang}/content/aboutus.aspx">
                        <img src="~/images/icon_about.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/feedback.aspx">Обратная связь</a>
                </td>
                <td>
                    <a href="~/{lang}/feedback.aspx">
                        <img src="~/images/icon_feedback.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- .sidebar.sr -->
