<div id="contentmenu">
	<table class="foursection">
		<tbody><tr>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="">
				<a href="~/{lang}/Consumers.aspx">Домашние <br>пользователи</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="">Профессионалы:<br>
				<a href="~/{lang}/ErcProAudio.aspx">Аудио</a> | 
				<a href="~/{lang}/ErcProVideo.aspx">Видео</a> | 
				<a href="~/{lang}/ErcProPhoto.aspx">Фото</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="">
				<a href="~/{lang}/SMB.aspx">Малый и средний <br>бизнес</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="">
				<a href="~/{lang}/Education.aspx" style="font-weight:bold;">Образование</a>
			</td>
		</tr>
	</tbody></table>
</div>
<div id="container">
    <div id="content">
        <div style="margin-left: 25px; width: 650px;">
            <img src="~/images/main_education.jpg" alt="" style="margin: 0 0 10px 0" />
            <table width="100%" style="margin-bottom: 30px;">
                <tr>
                    <td width="50%" style="padding-right: 20px;">
                        <p>
                            <img src="~/images/classi_buduchego.jpg" alt="" width="81" height="80"
                                align="left" /><strong>Классы Будущего — сегодня. </strong>
                        </p>
                        <p>
                            Главный инструмент разработчика в Mac OS X — это программа Xcode. Её элегантный
                            и функциональный интерфейс создан для управления проектами разработки программного
                            обеспечения. Xcode используется для организации и редактирования исходных файлов,
                            просмотра документации, сборки и отладки программ, оптимизации производительности
                            приложений.</p>
                    </td>
                    <td>
                        <p>
                            <img src="~/images/classi_buduchego2.jpg" alt="" width="83" height="88"
                                align="left" />Главный инструмент разработчика в Mac OS X — это программа Xcode.
                            Её элегантный и функциональный интерфейс создан для управления проектами разработки
                            программного обеспечения. Xcode используется для организации и редактирования исходных
                            файлов, просмотра документации, сборки и отладки программ, оптимизации производительности
                            приложений.</p>
                    </td>
                </tr>
            </table>
        </div>
        <div style="width: 660px;">
            <table width="100%" style="margin-left: 14px;">
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        &nbsp;</td>
                    <td valign="top" style="paddin-bottom: 35px;">
                        <h2>
                            Новейший опыт для учителей и преподавателей</h2>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/edu1.jpg" alt="" width="178" height="132" /></td>
                    <td valign="top" style="padding-bottom: 40px;">
                        <p>
                            Главный инструмент разработчика в Mac OS X — это программа Xcode. Её элегантный
                            и функциональный интерфейс создан для управления проектами разработки программного
                            обеспечения.
                            <br>
                            Xcode используется для организации и редактирования исходных файлов, просмотра документации,
                            сборки и отладки программ, оптимизации производительности приложений.<br>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        &nbsp;</td>
                    <td valign="top" style="paddin-bottom: 35px;">
                        <h2>
                            Лучший компьютер для обучения для школьников и студентов</h2>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/edu2.jpg" alt="" width="178" height="115" /></td>
                    <td valign="top" style="padding-bottom: 40px;">
                        <p>
                            Версия Xcode в системе Snow Leopard также позволяет использовать Диспетчер Grand
                            Central, OpenCL и другие новые технологии. Xcode — это легко настраиваемая интегрированная
                            среда разработки, которая позволяет создать простую, удобную и эффективную рабочую
                            среду.</p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        &nbsp;</td>
                    <td valign="top">
                        <h2>
                            Удобство администрирования и поддержки
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/edu3.jpg" alt="" width="178" height="178" /></td>
                    <td valign="top" style="padding-bottom: 40px;">
                        <p>
                            Версия Xcode в системе Snow Leopard также позволяет использовать Диспетчер Grand
                            Central, OpenCL и другие новые технологии. Xcode — это легко настраиваемая интегрированная
                            среда разработки, которая позволяет создать простую, удобную и эффективную рабочую
                            среду.</p>
                    </td>
                </tr>
            </table>
            <div style="margin-left: 25px; margin-top: 40px; width: 650px;">
                <img src="~/images/main_education2.jpg" alt="" /></div>
            <h2>
                &nbsp;</h2>
        </div>
        <div style="margin-left: 25px; margin-bottom: 30px; width: 650px;">
            <h2>
                Почему Mac идеален для студента
            </h2>
            <table>
                <tr>
                    <td>
                        <img src="~/images/tr1.jpg" alt="" width="156" height="109" /></td>
                    <td>
                        <img src="~/images/tr2.jpg" alt="" width="155" height="109" /></td>
                    <td>
                        <img src="~/images/tr3.jpg" alt="" width="155" height="109" /></td>
                    <td>
                        <img src="~/images/tr4.jpg" alt="" width="152" height="109" /></td>
                </tr>
                <tr>
                    <td valign="top" style="padding-right: 5px;">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="#"><strong>Идеальный компьютер для университетской жизни</strong></a></p>
                        <span style="line-height: 16px;">Версия Xcode в системе Snow Leopard также позволяет
                            использовать Диспетчер Grand Central, OpenCL и другие новые технологии. </span>
                    </td>
                    <td valign="top" style="padding-right: 5px;">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="#"><strong>Microsoft Office и Windows</strong></a></p>
                        <span style="line-height: 16px;">Версия Xcode в системе Snow Leopard также позволяет
                            использовать Диспетчер Grand Central, OpenCL и другие новые технологии. </span>
                    </td>
                    <td valign="top" style="padding-right: 5px;">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <strong><a href="#">Встроенная поддержка беспроводной сети</a></strong></p>
                        <span style="line-height: 16px;">Версия Xcode в системе Snow Leopard также позволяет
                            использовать Диспетчер Grand Central, OpenCL и другие новые технологии. </span>
                    </td>
                    <td valign="top">
                        <p style="line-height: 14px; letter-spacing: -1px;">
                            <a href="#"><strong>Подготовка студентов к выходу в большой мир</strong></a></p>
                        <span style="line-height: 16px;">Версия Xcode в системе Snow Leopard также позволяет
                            использовать Диспетчер Grand Central, OpenCL и другие новые технологии. </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/tr5.jpg" alt="" width="156" height="98" /></td>
                    <td>
                        <img src="~/images/tr6.jpg" alt="" width="155" height="98" /></td>
                    <td>
                        <img src="~/images/tr7.jpg" alt="" width="155" height="98" /></td>
                    <td>
                        <img src="~/images/tr8.jpg" alt="" width="152" height="98" /></td>
                </tr>
                <tr>
                    <td valign="top">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="#"><strong>Всё, что нужно студенту, — уже установлено</strong></a></p>
                        <span style="line-height: 16px;">Версия Xcode в системе Snow Leopard также позволяет
                            использовать Диспетчер Grand Central, OpenCL и другие новые технологии. </span>
                    </td>
                    <td valign="top">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="#"><strong>iTunes U: новый способ обучения</strong></a></p>
                        <span style="line-height: 16px;">Версия Xcode в системе Snow Leopard также позволяет
                            использовать Диспетчер Grand Central, OpenCL и другие новые технологии. </span>
                    </td>
                    <td valign="top">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <strong><a href="#">Мощный и надёжный MacBook</a></strong></p>
                        <span style="line-height: 16px;">Версия Xcode в системе Snow Leopard также позволяет
                            использовать Диспетчер Grand Central, OpenCL и другие новые технологии. </span>
                    </td>
                    <td valign="top">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="#"><strong>iChat: будьте на связи с близкими</strong></a></p>
                        <span style="line-height: 16px;">Версия Xcode в системе Snow Leopard также позволяет
                            использовать Диспетчер Grand Central, OpenCL и другие новые технологии. </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="~/images/tr9.jpg" alt="" width="156" height="108" /></td>
                    <td colspan="3" rowspan="2" valign="top" style="padding: 40px 0 0 80px;">
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="ug1">
                                </td>
                                <td class="ugc">
                                </td>
                                <td class="ug2">
                                </td>
                            </tr>
                            <tr>
                                <td class="ug1">
                                </td>
                                <td class="ugc">
                                </td>
                                <td class="ug2">
                                </td>
                            </tr>
                            <tr>
                                <td class="ugc">
                                </td>
                                <td class="ugtxt">
                                    <table width="100%">
                                        <tr>
                                            <td>
                                                <img src="~/images/solution-exp.png" alt="" /></td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 60px;">
                                                <p>
                                                    <strong>Apple Solution Experts for Education</strong> (ASE-e) — это реселлеры, вВерсия
                                                    Xcode в системе Snow Leopard также позволяет использовать Диспетчер Grand Central,
                                                    OpenCL и другие новые технологии. Версия Xcode в системе Snow Leopard также позволяет
                                                    использовать Диспетчер Grand Central, OpenCL и другие новые технологии.Версия Xcode
                                                    в системе Snow Leopard также позволяет использовать Диспетчер Grand Central, OpenCL
                                                    и другие новые технологии.</p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="ugc">
                                </td>
                            </tr>
                            <tr>
                                <td class="ug4">
                                </td>
                                <td class="ugc">
                                </td>
                                <td class="ug3">
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top">
                        <p style="line-height: 16px; letter-spacing: -1px;">
                            <a href="#"><strong>Бесплатные подкасты на любой вкус</strong></a></p>
                        <span style="line-height: 16px;">Версия Xcode в системе Snow Leopard также позволяет
                            использовать Диспетчер Grand Central, OpenCL и другие новые технологии. </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
    <table align="right">
        <tbody>
            <tr>
                    <td class="txtrightmenu">
                        <a href="~/{lang}/SuccessStories.aspx" >Історіі успіху</a>
                    </td>
                    <td>
                        <a href="~/{lang}/SuccessStories.aspx" ><img align="middle" style="border-width: 0px;" src="~/images/icondiploma.png"></a>
                    </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="/#Subscribe">Подписаться<br>
                        на новости</a>
                </td>
                <td>
                    <a href="/#Subscribe">
                        <img src="~/images/icon_news.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/content/aboutus.aspx">О компании ERC</a>
                </td>
                <td>
                    <a href="~/{lang}/content/aboutus.aspx">
                        <img src="~/images/icon_about.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/feedback.aspx">Обратная связь</a>
                </td>
                <td>
                    <a href="~/{lang}/feedback.aspx">
                        <img src="~/images/icon_feedback.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- .sidebar.sr -->
