<div id="contentmenu">
	<table class="foursection">
		<tr>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/partners/DevelopWithApple.aspx">Развивайтесь
					<br />
					вместе с Apple</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/WhereToBuy.aspx">Авторизованные<br />
					партнеры Apple<br />
					в Украине</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/partners/WhoIs.aspx">Авторизованный<br />
					партнер Apple —
					<br />
					кто он? </a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/partners/Advantages.aspx">Преимущества авторизованных партнеров</a>
			</td>
		</tr>
	</table>
</div>
<!-- #contentmenu-->
<div id="container" class="howpage_bg">
	<div id="content">
		<div class="main">
			<div style="width: auto; height: 300px; position: relative;">
				<div style="position: absolute; width: 318px; height: 220px; top: 0px; right: 0px;">
					<h2>
						Как авторизованные партнеры могут зарабатывать больше?</h2>
					<p>
						Авторизованные реселлеры Apple могут получать больше прибыли за счет дополнительных
						скидок. Как только вы преодолеете минимальный порог продаж, скидки на продукты Apple
						будут расти вместе с дополнительными ценностями, которые реселлер может предложить
						своим клиентам.
					</p>
				</div>
			</div>
			<div class="clear">
			</div>
			<div class="col1">
				<h2 style="color: #227BB8;"><strong>DAC — Закупочная цена <br>для авторизованного реселлера </strong></h2>
				<p>
					Apple и Авторизованный дистрибьютор устанавливает
					Перечень индикативных (рекомендованных) розничных цен (ALP) в зависимости от региона.
					На его основе реселлеру предлагается базовая скидка, которая зависит от типа продукта.
					Таким образом, формиру- ется цена для реселлера (DAC) — оптовая цена, по которой
					реселлеры обычно приобретают товар.</p>
				<br />
				<h2 style="color: #E99400;"><strong>MDF — Маркетинговый фонд</strong></h2>
				<p>
					Компания Apple предлагает авторизованным реселлерам фонд для совместной реализации
					маркетинговых акций (MDF).
				</p>
			</div>
			<div class="col2" style="margin-bottom: 30px;">
				<h2 style="color: #9CCE3B;"><strong>PR — Скидка за выполнение<br>квартального плана</strong></h2>
				<p>
					Реселлеры, выполнившие определенные требования, могут получить
					дополнительную скидку за достигнутые результаты, которая основана на оценке выполнения
					квартального плана (PR).
				</p>
				<br />
				<h2 style="color: #B84689; margin-top: 60px;"><strong>FD — Функциональная скидка</strong></h2>
				<p>
					Авторизованные реселлеры могут получать функциональные скидки (FD), которые применяются
					к закупочной цене (DAC). Функциональные скидки рассчитываются для каждого реселлера
					исходя из следующих факторов: расположение точки продаж, профессионального уровня
					персонала и качества предложений для конечного пользователя, которые данный реселлер
					предоставляет своим потенциальным клиентам.
				</p>
			</div>
		</div>
	</div>
	<!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/partners/certificate.aspx">Сертификация <br />и онлайн-ресурсы</a>
			</td>
			<td>
				<a href="~/{lang}/partners/certificate.aspx">
					<img src="~/images/icon_online_resources.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/partners/trademark.aspx">Использование <br />торговых
					марок <br />и символики Apple</a>
			</td>
			<td>
				<a href="~/{lang}/partners/trademark.aspx">
					<img src="~/images/icon_copyright.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/PartnersNews.aspx">Hовости для партнеров</a>
			</td>
			<td>
				<a href="~/{lang}/PartnersNews.aspx">
					<img src="~/images/icon_news.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="https://connect.erc.ua/">Вход на В2В портал</a>
			</td>
			<td>
				<a href="https://connect.erc.ua/">
					<img src="~/images/icon_b2b.png" alt="" align="middle" /></a>
			</td>
		</tr>
	</table>
</div>
<!-- .sidebar.sr -->
