<div id="container">
	<div id="content">
		<div class="main">
        
        <h1>Что важно знать о гарантии Apple</h1>
  
  <div>
    <p><strong>1.</strong> <strong>Приём техники Apple на гарантийное обслуживание</strong> осуществляется при наличии правильно заполненного гарантийного талона единого образца  и чека о покупке. В гарантийном талоне должны быть указаны: серийный номер и модель изделия, дата продажи, cрок гарантийного обслуживания, проставлена печать продавца.      </p>
    <p>С целью повышения осведомленности конечных пользователей, повышения удобства пользования продуктами Apple и для уменьшения шансов на неосознанное приобретение потребителями  продукции, ввезенной в Украину неофициально, <strong>с 10 июня 2010 г</strong>.  все компьютеры, ноутбуки, серверы, мониторы и mp3-плееры Apple комплектуются <strong>гарантийными талонами единого образца,</strong> с включенной в них <strong>краткой инструкцией пользователя на украинском языке.</strong></p>
    <table width="620" style="margin-left: 0px;">
  <tr>
    <td style="padding-right: 10px;"><img src="/images/bullet.gif" alt=""></td>
    <td><p>Компьютеры <strong>Apple Mac</strong> (настольные, моноблоки и портативные, а также мониторы и серверы)  отгружаются с гарантийными талонами, вложенными в транспортную (внешнюю) упаковку, кроме рабочих станций Mac Pro и мониторов Apple 30'' (для них талоны вкладывается в основную коробку), и запечатываются упаковочной лентой с маркировкой «ПРОВЕРЕНО». В каждый гарантийный талон впечатан <strong>уникальный серийный номер продукта</strong>, с которым он идет в комплекте.</p></td>
  </tr>
</table>

    <img src="/images/imgarant1.jpg" alt="" style="margin: 15px 0 20px 0;" /></div>      
			
   <table width="620" style="margin-left: 0px;">
  <tr>
     <td style="padding-right: 10px;"><img src="/images/bullet.gif" alt=""></td>
 
    <td><p>Плееры <strong>iPod</strong> отгружаются со склада с гарантийными талонами меньшего размера, размещенными с внешней стороны  коробки под прозрачной пленкой. Серийный номер в них не впечатывается, поэтому важно проверить, чтобы продавец корректно его вписал непосредственно при покупке.</p></td>
  </tr>
</table>

    <img src="/images/imgarant2.jpg" alt="" style="margin: 15px 0 15px 200px;" />
    
<p><strong>Важно: </strong>Проверяйте полноту и правильность заполнения гарантийного талона продавцом в магазине. При отсутствии талона, указанного выше, применяются правила ограниченной всемирной гарантии Apple, а также нормы украинского законодательства, касающиеся гарантийного обслуживания продукции, произведенной за рубежом.</p>
<ol>
  <li><strong>2. Осторожно: гравировка!</strong></li>
</ol>
<p>Достаточно часто можно встретить компьютеры  Apple с кириллическими сим­волами, нанесенными на клавиатуру методом гравирова­ния.  
Подобные действия рассма­триваются как «несанкцио­нированная модификация  оборудования/части обору­дования»,
<strong>
что автоматически аннулирует возможность бесплатного обслуживания не только в рамках одногодичной ограниченной гарантии Apple, но и в рамках программ расширенной поддержки. 
 </strong>
 </p>
<p style="margin-left: 20px;"> *В соответствии с <a href="http://www.apple.com/legal/warranty/">«Положением по ограниченной  гарантии Apple»</a>,  
гарантия Apple сроком один год не распространяется на: ... (g) на изделия или  запчасти, у которых были изменены функциональное назначение 
или возможности без  письменного разрешения компании Apple. (стр. 52) </p>
<p>
  Кроме того, часто в случаях гравировки  клавиатуры покупатель получает неполноценный продукт: кириллические символы на  гравированных клавиатурах с подсветкой могут либо ее не иметь вообще, либо  такая подсветка будет неравномерной, что ухудшает удобство пользования  продуктом, а также нарушает его внешний вид и высокое заявленное качество от  производителя.</p>
<table width="100%">
  <tr>
    <td width="46%" valign="top" style="padding-left: 10px;" ><p><strong>Заводская  клавиатура для продуктов, официально  импортированных в Украину: </strong></p></td>
    <td width="20" rowspan="2" valign="top" style="padding-left: 10px;" >&nbsp;</td>
    <td style="padding: 0 10px;"><p><strong>Гравированная клавиатура: </strong></p></td>
  </tr>
  <tr>
    <td valign="top" style="padding-left: 10px;" > 
      <ul>
        <li><img src="/images/bullet.gif" alt=""> латинские буквы и буквы кириллицы расположены симметрично по диагонали </li>
        <li><img src="/images/bullet.gif" alt=""> латинские буквы и буквы кириллицы имеют равный размер  </li>
        <li><img src="/images/bullet.gif" alt=""> на клавиатурах с подсветкой все символы подсвечены ярко и равномерно </li>        
      </ul></td>
    <td style="padding: 0 10px;">  <ul>
      <li><img src="/images/bullet.gif" alt=""> расположение букв (латинских и русских) несимметрично</li>
      <li><img src="/images/bullet.gif" alt=""> кириллические символы могут не подсвечиваться или подсвечиваться неравномерно </li>
      <li><img src="/images/bullet.gif" alt=""> буквы кириллицы и латиницы отличаются размером  </li>
    </ul></td>
  </tr>
  <tr>
    <td colspan="3" valign="top" style="padding-left: 10px;" ><img src="/images/imgarant3.jpg" alt="" /></td>
    </tr>
</table>
<ol>
  <li><strong>3. Что такое  и как работает проверка серийного номера?</strong></li>
</ol>
<p>

<a href="http://www.ierc.com.ua/ru/Request_SN.aspx">Система проверки серийного номера</a> 
позволяет пользователю убедиться в том, является ли данный продукт оригинальным продуктом Apple, 
который официально импортирован в Украину.у. </p>

<p>Благодаря круглосуточному онлайн доступу, проверить  серийный номер можно из любой точки земного 
шара (если, например, вы находитесь  в командировке) и в любое время, даже из магазина - перед принятием решения о  покупке. 
Это легко сделать в течение одной минуты, просто введя серийный номер  Вашего компьютера в окно ввода и нажав кнопку «Проверить». 
Система проверки  серийного номера доступна на главной странице сайта <a href="http://www.erc.ua/apple">www.erc.ua/apple</a>, 
а также  в разделах сайта «Где купить» и «Поддержка». </p>




<p align="left" style="margin: 15px 0 15px 0;"><strong>Лучший способ приобрести Mac — обратиться   к <a href="http://www.ierc.com.ua/ru/WhereToBuy.aspx">официальному дилеру Apple</a> </br> и получить значительные преимущества:</strong><div class="clear">
    </div>

			<table style="margin-bottom: 30px;" cellpadding="5" width="100%">
				<tbody><tr>
					<td class="bg_td" style="background:url(/images/bg_block3.gif) no-repeat; height:494px;"><strong>1. Высокое качество поддержки  от авторизованных партнёров.  </strong>Офи­циальный товар продаётся через официальную  партнёрскую сеть, основу которой составляют опытнейшие дилеры Apple. Каждая  такая компания для того чтобы получить авторизацию, в обязательном порядке  обучает своих продавцов-консультантов и специалистов поддержки, — все они  проходят тренинги и сдают экзамены. Поэтому, приобретя официальный про­дукт, вы  не останетесь со своими вопросами нае­дине, вам всегда придут на помощь  сертифицированные специалисты.
					</td>
					<td>&nbsp;</td>
					<td class="bg_td" style="background:url(/images/bg_block3.gif) no-repeat; height:494px;"><strong>2. Гарантирован-<br />ное сервисное  обслу­живание. </strong>Только с официальным то­варом  у покупателя не возникнет ни­каких вопросов с гарантийным обслу­живанием.  Несмотря на высокую надёжность тех­ники Apple, лучше иметь 100% уверенности в  том, что внезапно возникшая проблема будет решена. Каждая единица официальной  техники продаётся с гарантийным талоном, который обеспечит защиту ваших  интересов в случае обнаружения скрытого дефекта. Ремонт или замену можно будет  произвести не только в месте покупки, но и в любом <a href="http://www.ierc.com.ua/ru/ServiceCenters.aspx">авторизованном сервисном центре Apple</a></td>
					<td>&nbsp;</td>
					<td class="bg_td" style="background:url(/images/bg_block3.gif) no-repeat; height:494px;"><strong>3. Полная готовность к использованию «прямо из коробки». </strong>Только официальная техника Apple поставляется полностью готовой к использованию на территории нашей страны. Все компоненты, которые входят в комплект поставки вашего нового компьютера, адаптированы к местным условиям: электрические вилки соответствуют европейским стандартам, клавиатура изначально содержит кириллические символы, а инструкция по эксплуатации составлена на русском и украинском языках. Официальный гарантийный талон также прилагается.
					</td>
					<td>&nbsp;</td>
					<td class="bg_td" style="background:url(/images/bg_block3.gif) no-repeat; height:494px;"><strong>4. Честно, открыто и  безопасно. </strong>Поскольку вся официальная  техника Apple импортируется в страну откры­то, с полной уплатой всех необходи­мых  налогов, её владелец может спать спокойно. Какие бы новые правовые нормы не  были введе­ны в будущем, покупатель может быть уверен, что пользуется абсолютно  легальной продукцией и не нарушает никаких законов. Также немаловажно, что вся  официальная продукция при ввозе в стра­ну в обязательном порядке  сертифицируется, по­лучая подтверждение на соответствие принятым в Украине  стандартам и нормам. 

					</td>
					</tr>
			</tbody></table>
		</div>
		<br>
	</div>
	<!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
					<a href="~/{lang}/content/aboutus.aspx">О компании ERC</a>
			</td>
			<td>
					 <a href="~/{lang}/content/aboutus.aspx">
                        <img src="~/images/icon_about.png" style="border-width: 0px;" align="middle"></a>
			</td>
		</tr>
		 <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/feedback.aspx">Обратная связь</a>
                </td>
                <td>
                    <a href="~/{lang}/feedback.aspx">
                        <img src="~/images/icon_feedback.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/Request_SN.aspx">Проверка серийного номера</a>
			</td>
			<td>
				<a href="~/{lang}/Request_SN.aspx">
					<img src="~/images/sn.jpg" alt="sn.jpg" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/content/Important.aspx">Что важно знать о гарантии </a>
			</td>
			<td>
				<a href="~/{lang}/content/Important.aspx">
					<img src="~/images/iconimportant.png" alt="" align="middle" /></a>
			</td>
		</tr>
		
	</table>
</div>
<!-- .sidebar.sr -->
