<div id="contentmenu">
	<table width="100%">
		<tr>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="" />
				<a href="~/{lang}/support/Warranty.aspx">Гарантийные<br /> обязательства Apple</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="" /><a href="~/{lang}/support/AASP.aspx" >Получение
					статуса авторизованного<br /> сервисного центра по продукции Apple</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="" /><a href="~/{lang}/ServiceCenters.aspx">Авторизованные<br />
					сервисные центры Apple</a>
			</td>
		</tr>
	</table>
</div>
<!-- #contentmenu-->
<div id="container">
	<div id="content">
		<div class="main">
			
			<div>
			<p>В соответствии с <a href="http://www.apple.com/legal/warranty/">«Положением по ограниченной гарантии Apple»</a>, гарантия Apple сроком один год не распространяется на: ... (g) на изделия или запчасти, у которых были изменены функциональное назначение или возможности без письменного разрешения компании Apple. (стр. 52)</p>
			<p>В соответствии с этим положением нанесение на клавиатуру лазерной гравировки рассматривается как несанкционированная модификация оборудования/части оборудования и такое оборудование подлежит гарантийному обслуживанию на платной основе, по расценкам, установленным Авторизованным Сервисным Центром Apple.</p>
			
			</div>

<div class="clear">
					  </div>
						<br>
						<div class="col1" style="width: 360px;margin-left:-55px;padding-top:5px;">
							<img src="~/images/keyoard1.jpg" alt="" />
					  </div>
						<div class="col3" style="width: 300px; line-height:22px;">
На фотографии слева фрагмент фотографии клавиатуры с нанесенной на нее лазерной гравировкой.
<ul>
<li><img src="~/images/bullet.gif" alt="">Расположение букв на клавише (латинской и русской) не является симметричным</li>
<li><img src="~/images/bullet.gif" alt="">Буквы кириллицы и латиницы отличаются размером.</li>
<li><img src="~/images/bullet.gif" alt="">Кроме того, у моделей со встроенной подсветкой клавиатуры, буквы, нанесенные с помощью лазерной гравировки, не подсвечиваются. Эти признаки означают нарушение условий действия всемирной гарантии Apple.</li>
</ul>
</div>

						 <div class="clear" style=" height:20px;">
						</div>

		<div class="col1" style="width: 290px; line-height:22px;">
На фотографии справа фрагмент фотографии клавиатуры оборудования, предназначенного для продажи в нашей стране.
<ul>
<li><img src="~/images/bullet.gif" alt="">Латинские буквы и буквы кириллицы расположены по диагонали</li>
<li><img src="~/images/bullet.gif" alt="">Латинские буквы и буквы кириллицы имеют равный  размер.</li>
<li><img src="~/images/bullet.gif" alt="">Для моделей со встроенной подсветкой клавиатуры, буквы латиницы и кирилицы подсвечиваются равномерно. Эти признаки означают соответствие условиям действия  всемирной гарантии Apple. 
</li>
</ul>


					  </div>
						<div class="col3" style="padding-top:5px;"><img src="~/images/keyoard2.jpg" alt="mHouse" style="" /></div>
					  <div class="clear">
						</div>
				

<p><b>Просьба учитывать вышеуказанное при рассмотрении коммерческих предложений на продукцию Apple.</b></p>

		</div>
	</div>
	<!-- #content-->
	<div class="clear" style="margin-bottom:30px;">
	</div>
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
					<a href="http://www.erc.ua/Service/#&&p=5" target="blank">Узнать о ходе ремонта</a>
			</td>
			<td>
					<a href="http://www.erc.ua/Service/#&&p=5" target="blank">
					<img src="~/images/icon_repair.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="http://www.apple.com/ru/support/exchange_repair/" target="blank">Программы Apple<br />
					по замене и ремонту</a>
			</td>
			<td>
				<a href="http://www.apple.com/ru/support/exchange_repair/" target="blank">
					<img src="~/images/icon_change_repair.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/support/Info_Keyboard.aspx"><strong>Как отличать «белые»<br />
					продукты от «серых»</strong></a>
			</td>
			<td>
				<a href="~/{lang}/support/Info_Keyboard.aspx">
					<img src="~/images/icon_differentiate.png" alt="" align="middle" /></a>
			</td>
		</tr>
	</table>
</div>
<!-- .sidebar.sr -->
