<div id="contentmenu">
	<table width="100%">
		<tr>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="" />
				<a href="~/{lang}/support/Warranty.aspx">Гарантийные<br /> обязательства Apple</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="" /><a href="~/{lang}/support/AASP.aspx">Получение
					статуса авторизованного<br /> сервисного центра по продукции Apple</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="" /><a href="~/{lang}/ServiceCenters.aspx">Авторизованные<br />
					сервисные центры Apple</a>
			</td>
		</tr>
	</table>
</div>
<!-- #contentmenu-->
<div id="container">
	<div id="content">
		<div class="main">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td style="width: 170px;">
						<div class="greyroundblock">
							<img src="~/images/bg_block_top.gif" />
							<div class="greyroundblock_content">
								<h2>
									Служба поддержки Apple
								</h2>
								<br />
								<a href="http://support.apple.com/ru_RU/manuals/" target="blank">Руководства</a><br />
								<br />
								<a href="http://support.apple.com/ru_RU/specs/" target="blank">Характеристики</a>
								<br />
								<br />
								<a href="http://support.apple.com/ru_RU/downloads/" target="blank">Загрузка</a><br />
								<br />
								<a href="#">Устаревшее и снятое с эксплуатации оборудование</a>
								<br />
								<br />
								<a href="http://search.info.apple.com/" target="blank">Расширенный поиск информации по продукции Apple</a><br />
								<br />
								<a href="http://www.apple.com/ru/support/appleid/" target="blank">Получение Apple ID</a>
							</div>
						</div>
						<div class="clear">
						</div>
						<div class="greyroundblock">
							<img src="~/images/bg_block_top.gif" alt="" />
							<div class="greyroundblock_content">
								<h2>
									Часто задаваемые вопросы по поддержке
								</h2>
								<br />
								<a href="http://www.apple.com/ru/support/ipod/five_rs/" target="blank">Пять действий, которые решают большинство неполадок с iPod</a><br />
								<br />
								<a href="http://www.apple.com/ru/itunes/how-to/#video-sync" target="blank">Синхронизация музыки в iPod</a>
								<br />
								<br />
								<a href="http://discussions.apple.com/index.jspa" target="blank">Полезные советы при переходе c Windows на Mac </a>
								<br />
								<br />
								<a href="http://discussions.apple.com/index.jspa" target="blank">Полезные дискуссии по сервису (En)</a>
							</div>
						</div>
					</td>
					<td>
					</td>
					<td class="v-top">
						<h1>Украинизация ПО </h1>
Пожалуйста, выберите категорию:  <select name=""style="width: 200px;">
   <option selected="selected">Все продукты</option>
   <option>Категория 2</option>
   <option>Категория 3</option>
 </select>						
						
<table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-top: 15px;">
  <tr>
    <td><img src="~/images/test.jpeg" alt="" style="padding: 10px 15px 0 0 " /></td>
    <td class="v-top" style="padding-bottom:10px;">
	<h2>Название продукта для скачивания</h2>
Пару предложений текста для описания
Пару предложений текста для описания
Пару предложений текста для описания

<p><a href="" target="blank">Скачать</a></p>
	</td>
  </tr>
    <tr>
	<td><img src="~/images/test.jpeg" alt="" style="padding: 10px 15px 0 0 " /></td>
    <td class="v-top" style="padding-bottom:10px;">
	<h2>Название продукта для скачивания</h2>
Пару предложений текста для описания
Пару предложений текста для описания
Пару предложений текста для описания

<p><a href="" target="blank">Скачать</a></p>
	</td>
  </tr>

    <tr>
    <td><img src="~/images/test.jpeg" alt="" style="padding: 10px 15px 0 0 " /></td>
     <td class="v-top" style="padding-bottom:10px;">
	<h2>Название продукта для скачивания</h2>
Пару предложений текста для описания
Пару предложений текста для описания
Пару предложений текста для описания

<p><a href="" target="blank">Скачать</a></p>
	</td>
  </tr>

    <tr>
    <td><img src="~/images/test.jpeg" alt="" style="padding: 10px 15px 0 0 " /></td>
    <td class="v-top" style="padding-bottom:10px;">
	<h2>Название продукта для скачивания</h2>
Пару предложений текста для описания
Пару предложений текста для описания
Пару предложений текста для описания

<p><a href="" target="blank">Скачать</a></p>
	</td>
  </tr>
  
      <tr>
    <td><img src="~/images/test.jpeg" alt="" style="padding: 10px 15px 0 0 " /></td>
    <td class="v-top" style="padding-bottom:10px;">
	<h2>Название продукта для скачивания</h2>
Пару предложений текста для описания
Пару предложений текста для описания
Пару предложений текста для описания

<p><a href="" target="blank">Скачать</a></p>
	</td>
  </tr>

</table>

<p style="margin-left: 95px;"><a href="" target="blank">Архив</a></p>


						
						
						
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- #content-->
	<div class="clear">
	</div>
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
				<a href="http://www.erc.ua/Service/#&&p=5" target="blank">Узнать о ходе ремонта</a>
			</td>
			<td>
				<a href="http://www.erc.ua/Service/#&&p=5" target="blank">
					<img src="~/images/icon_repair.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="http://www.apple.com/ru/support/exchange_repair/" target="blank">Программы Apple<br />
					по замене и ремонту</a>
			</td>
			<td>
				<a href="http://www.apple.com/ru/support/exchange_repair/" target="blank">
					<img src="~/images/icon_change_repair.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/content/Important.aspx">Что важно знать о гарантии </a>
			</td>
			<td>
				<a href="~/{lang}/content/Important.aspx">
					<img src="~/images/iconimportant.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/Request_SN.aspx">Проверка серийного номера</a>
			</td>
			<td>
				<a href="~/{lang}/Request_SN.aspx">
					<img src="~/images/sn.jpg" alt="sn.jpg" align="middle" /></a>
			</td>
		</tr>      
	</table>
</div>
<!-- .sidebar.sr -->
