<div id="contentmenu"></div>
<div id="container">
    <div id="content">
        <div style="margin-left: 25px; width: 650px;">
            <a href="http://www.apple.com/uk/software/pro/series/" target="blank"><img src="~/images/product_shot.jpg" alt="" /></a>
          <h1 style="margin-left: 70px; font-size: 20px;margin-bottom: 40px;">Новые Final Cut Studio и Logic Studio. Испытайте их. </h1>
    			<div class="col1" style="margin-bottom: 20px; width: 350px;">
				<p>Присоединяйтесь к нам в г. Киеве и познакомьтесь с новейшими разработки  в области аудио- и видеопроизводства на Mac. На этом уникальном  мероприятии специалистами компании Apple будут продемонстрированы новые версии Final Cut Studio и  Logic Studio, а также расширенная система решений, с которой Mac  становится идеальной платформой для творческой работы.<br />
                  <br />
На семинаре по Final Cut будут продемонстрированы многочисленные  возможности новых версий Final Cut Studio и Final Cut Server с более  100 уникальными функциями. Вы узнаете о программных продуктах, входящих  в этот пакет, и о том, как они интегрируются для более быстрого и  эффективного пост-производства.<br />
<br />
Семинар по Logic Studio предназначен для гитаристов, исполнителей и  других музыкантов, которые записывают, сводят и микшируют музыку. Вы  познакомитесь с самыми современными инструментами создания и  редактирования музыки и узнаете, почему Mac так хорош для живых  концертов.</p>
		  </div>
			<div class="col2" style="margin-top: 13px; width: 250px; margin-bottom: 20px;">
				<table width="100%" border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td class="ug1">						</td>
						<td class="ugc">						</td>
						<td class="ug2">						</td>
					</tr>
					<tr>
						<td class="ugc">						</td>
						<td class="ugtxt">
							<h1 style="padding-bottom: 5px;">
								Подробно о мероприятии</h1>
                                <img src="~/images/divide_line.gif" alt="" border="0" height="16" width="200" /><br />
							<p style="padding-bottom: 10px;">Присоединяйтесь к нам на одну либо обе сессии. Участие в семинаре бесплатно, но требует отдельной регистрации на каждую сессию. 
Начало регистрации и демонстрации про-решений 
с 15:00</p>
							<p style="padding-bottom: 10px;"><strong>Киев - 9 марта</strong><br />
&quot;Украинский дом&quot;, <br />
ул.Крещатик 2<br />
<img src="~/images/divide_line.gif" alt="" border="0" height="16" width="200" /><br />
<strong>Сессия Final Cut </strong><br />
с 16:00 до 17:30<br />
<a href="http://seminars.apple.com/goToEvent.html?id=94460&amp;locs=ru_ru" target="blank">Зарегистрироваться</a><br />
<img src="~/images/divide_line.gif" alt="" border="0" height="16" width="200" /><strong>Сессия Logic Studio</strong><br />
с 19:00 до 20:30<br />
<a href="http://seminars.apple.com/goToEvent.html?id=94461&amp;locs=ru_ru" target="blank">Зарегистрироваться</a>.</p>						</td>
						<td class="ugc">						</td>
					</tr>
					<tr>
						<td class="ug4">						</td>
						<td class="ugc">						</td>
						<td class="ug3">						</td>
					</tr>
				</table>
		  </div>
    
</div>

  </div>
    <!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
    <table align="right">
        <tbody>
            <tr>
                <td class="txtrightmenu">
                    <a href="/#Subscribe">Подписаться<br>
                        на новости</a>
                </td>
                <td>
                    <a href="/#Subscribe">
                        <img src="~/images/icon_news.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/content/aboutus.aspx">О компании ERC</a>
                </td>
                <td>
                    <a href="~/{lang}/content/aboutus.aspx">
                        <img src="~/images/icon_about.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/feedback.aspx">Обратная связь</a>
                </td>
                <td>
                    <a href="~/{lang}/feedback.aspx">
                        <img src="~/images/icon_feedback.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- .sidebar.sr -->
