	<div id="contentmenu">
				<table class="foursection">
					<tr>
						<td>
							<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/DevelopWithApple.aspx">Развивайтесь
								<br />
								вместе с Apple</a>
						</td>
						<td>
							<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/WhereToBuy.aspx">Авторизованные<br />
								партнеры Apple<br />
								в Украине</a>
						</td>
						<td>
							<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/WhoIs.aspx">Авторизованный<br />
								партнер Apple —
								<br />
								кто он? </a>
						</td>
						<td>
							<img src="~/images/contentmenu_separator.gif" alt="" /><a href="~/{lang}/partners/HowCan.aspx">Как авторизованные<br />
								партнеры могут<br />
								зарабатывать больше? </a>
						</td>
					</tr>
				</table>
			</div>
			<!-- #contentmenu-->
			<div id="container" class="trademark_bg">
				<div id="content">
					<div class="main" >
						<h1 class="t-center">
							Использование торговых марок и символики Apple</h1>
						<div class="col1" style="margin-top: 300px;">
							<ul>
								<li><img src="~/images/bullet.gif" alt="" />Kомпания Apple предоставляет только Авторизованным партнерам ограниченные права
									пользования своими торговыми марками для продвижения и продаж продукции Apple;
								
								</li>
								<li><img src="~/images/bullet.gif" alt="" />Компании, не имеющие статус Авторизованного партнера Apple, не могут использовать
									символики и торговые марки, предоставляемые Apple только по результатам прохождения
									авторизации (AAR, APR, ASE, AATCE, AATC, AASP);</li>
								<li><img src="~/images/bullet.gif" alt="" />Авторизованный партнер обязуется использовать торговые марки и символику Apple в
									строгом соответствии с требованиями производителя, не передавать права на использование
									третьим лицам, а также согласовывать с Apple любые формы их использования в целях
									мерчандайзинга (на любых типах промо материалов и сувениров);</li>
							</ul>
						</div>
						<div class="col2" style="margin-top: 300px;">
							<ul>
								<li><img src="~/images/bullet.gif" alt="" />Партнер обязуется не удалять, не видоизменять торговые марки и символику и не добавлять
									никакие иные пометки или знаки на любых материалах, предоставленных Apple, включая
									упаковку продукции;</li>
								<li><img src="~/images/bullet.gif" alt="" />Партнер или его подразделения/филиалы обязуются не регистрировать и не использовать
									торговые марки, которые могут каким-либо образом ввести пользователя в заблуждение.
									К данному условию относится использование Партнером торговых марок Apple, Mac, iPod
									и т.п. в кириллической или латинской транслитерации; </li>
								<li><img src="~/images/bullet.gif" alt="" />При использовании торговых марок и символики Apple Партнер обязуется руководствоваться
									соответствующим руководством Apple Identity Guidelines. </li>
							</ul>
						</div>
						<div class="clear">
						</div>
					</div>
					<div class="clear" style="margin-bottom: 30px;">
					</div>
				</div>
				<!-- #content-->
			</div>
			<!-- #container-->
			<div class="sidebar sr">
				<table align="right">
					<tr>
						<td class="txtrightmenu">
							<a href="~/{lang}/partners/certificate.aspx">Сертификация <br>и онлайн-ресурсы</a>
						</td>
						<td>
							<a href="~/{lang}/partners/certificate.aspx">
								<img src="~/images/icon_online_resources.png" alt="" align="middle" /></a>
						</td>
					</tr>
					<tr>
						<td class="txtrightmenu">
							<a href="~/{lang}/partners/trademark.aspx" class="active">Использование <br />торговых
								марок <br />и символики Apple</a>
						</td>
						<td>
							<a href="~/{lang}/partners/trademark.aspx">
								<img src="~/images/icon_copyright.png" alt="" align="middle" /></a>
						</td>
					</tr>
					<tr>
						<td class="txtrightmenu">
							<a href="~/{lang}/PartnersNews.aspx">Hовости для партнеров</a>
						</td>
						<td>
							<a href="~/{lang}/PartnersNews.aspx">
								<img src="~/images/icon_news.png" alt="" align="middle" /></a>
						</td>
					</tr>
					<tr>
						<td class="txtrightmenu">
							<a href="https://connect.erc.ua/">Вход на В2В портал</a>
						</td>
						<td>
							<a href="https://connect.erc.ua/">
								<img src="~/images/icon_b2b.png" alt="" align="middle" /></a>
						</td>
					</tr>
				</table>
			</div>
			<!-- .sidebar.sr -->
