<div id="container">
    <div id="content">
        <div style="margin-left: 25px; width: 650px;">
            <h2>
                Сертификация Apple</h2>
            <p>
                Для проверки углубленных знаний свой программных продуктов компания Apple ввела программы сертификации 
				специалистов, призванные выделить настоящих профессионалов своего дела среди простых пользователей.
				<br /> <br />
				В нынешнее непростое время сертификация от Apple может стать отличным подспорьем в борьбе за достойное рабочее место.</p>
        </div>
        <div style="margin-left: 10px; width: 650px;">
            <table width="100%">
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/kariera.jpg" alt="" width="171" height="122" /></td>
                    <td valign="top">
                        <p>
                            <strong>Ваша карьера — в ваших руках</strong></p>
                        <p>
                            Займите исключительное положение среди конкурентов и сделайте свой бизнес эксклюзивным. 
							Заслужите доверие и добейтесь признания в отрасли благодаря профессионализму при работе в 
							Final Cut Pro, Aperture и других приложениях Apple: 
							станьте авторизованным профессионалом Apple — <a href="#">Apple Certified Pro </a> <br />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/expert.jpg" alt="" width="171" height="134" /></td>
                    <td valign="top">
                        <p>
                            <strong>Докажите, что вы эксперт Mac</strong></p>
                        <p>
                            Если вы хорошо знакомы с поддержкой Mac OS X, то можете стать авторизованным 
							специалистом по технической поддержке Apple — Apple Certified Support Professional. 
							Совершенству нет предела: научитесь проектировать и администрировать сеть систем Mac OS X 
							и станьте аттестованным системным администратором Apple — <a href="#">Apple Certified System Administrator</a> </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/ucheniki.jpg" alt="" width="171" height="129" /></td>
                    <td valign="top">
                        <p>
                            <strong>Помогите своим ученикам двигаться вперёд</strong></p>
                        <p>
                            Если вы представитель образовательного учреждения, узнайте, как можно повысить шансы ваших студентов на удачное трудоустройство, 
							сделав своё учреждение <a href="#">официальным учебным центром Apple в образовании.</a></p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 15px 5px 0 0">
                        <img src="~/images/remont.jpg" alt="" width="171" height="131" /></td>
                    <td valign="top">
                        <p>
                            <strong>Зарабатывайте ремонтом Mac</strong></p>
                        <p>
                            Вам всегда нравилось всё разбирать? Возможно, самая подходящая для вас работа — это ремонт компьютеров 
							Mac в качестве авторизованного технического специалиста Apple по Macintosh — 
							<a href="#">Apple Certified Macintosh Technician</a> в одном из  авторизованных сервисных центров Apple.
                        </p>
                    </td>
                </tr>
            </table>
            <h2>
                &nbsp;</h2>
        </div>
        <div style="margin-left: 25px; width: 650px;">
            <h2>
                Тренинги и учебные центры</h2>
            <table width="100%" style="margin-bottom: 20px;">
                <tr>
                    <td width="50%" style="padding-right: 15px;">
                        <img src="~/images/authorisedTcenter.jpg" alt="" width="292" height="137" /></td>
                    <td>
                        <img src="~/images/freedeminars.jpg" alt="" width="279" height="137" /></td>
                </tr>
                <tr>
                    <td style="padding-right: 20px;">
                        <p>
                             В феврале 2010 года открыт первый  в Украине авторизованный тренинговый центр 
							 Apple (AATC) – <a href="http://apple.i-klass.com/rus" target="blank"> i-Klass </a> 
							 <br />
В i-Klass проводятся обучение как для начинающих пользователей Mac, так и для профессионалов по следующим направлениям:
							</p>
                        <p>
						<br />
						• Работа с пакетом программ iLife<br />
						• Операционная система Mac OS X Snow Leopard<br />
						• Работа на Mac для начинающих. Ускоренный курс<br />
						• Администрирование Mac OS X Support Essentials<br />
						• Администрирование Mac OS X Server Essentials
							<br />
							</p>
                    </td>
                    <td>
                        <p>
                            <strong>Бесплатные семинары</strong></p>
                        <p>
                            Авторизованные партнеры Apple также проводят регулярно бесплатные семинары по пользовательским 
							и профессиональным программным продуктам компании Apple для своих клиентов на территории магазинов.
							<br /><br />
							Посетив семинары вы узнаете насколько мощные инструменты выражения творчества предоставляют пользователям 
							приложения Apple и сколь удобны и надежны в работе компьютеры Mac.
							<br /><br />
							Детальную информацию смотрите на сайтах <a href="#">наших партнеров</a> </p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
    <table align="right">
        <tbody>
            <tr>
                <td class="txtrightmenu">
                    <a href="/#Subscribe">Подписаться<br>
                        на новости</a>
                </td>
                <td>
                    <a href="/#Subscribe">
                        <img src="~/images/icon_news.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/content/aboutus.aspx">О компании ERC</a>
                </td>
                <td>
                    <a href="~/{lang}/content/aboutus.aspx">
                        <img src="~/images/icon_about.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
            <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/feedback.aspx">Обратная связь</a>
                </td>
                <td>
                    <a href="~/{lang}/feedback.aspx">
                        <img src="~/images/icon_feedback.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- .sidebar.sr -->
