
<script src="/js/jquery.cross-slide.min.js"></script>
<div class="section" id="first">

<div id="main-product-shot" style="margin-left:-85px; padding-bottom:0; ">
				<img src="~/images/head_image_01.jpg" alt="head_image_01" width="752" height="354" style="visibility: visible; opacity: 1;"/>
				<img src="~/images/head_image_02.jpg" alt="head_image_02" width="752" height="354" style="visibility: hidden; opacity: 0;" />
			</div>

<div class="sidebar sr" style="margin-left:0px;">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
					<a href="~/{lang}/content/aboutus.aspx">О компании ERC</a>
			</td>
			<td>
					 <a href="~/{lang}/content/aboutus.aspx">
                        <img src="~/images/icon_about.png" style="border-width: 0px;" align="middle"></a>
			</td>
		</tr>
		 <tr>
                <td class="txtrightmenu">
                    <a href="~/{lang}/feedback.aspx">Обратная связь</a>
                </td>
                <td>
                    <a href="~/{lang}/feedback.aspx">
                        <img src="~/images/icon_feedback.png" style="border-width: 0px;" align="middle"></a>
                </td>
            </tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/Request_SN.aspx">Проверка серийного номера</a>
			</td>
			<td>
				<a href="~/{lang}/Request_SN.aspx">
					<img src="~/images/sn.jpg" alt="sn.jpg" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/content/Important.aspx">Что важно знать о гарантии </a>
			</td>
			<td>
				<a href="~/{lang}/content/Important.aspx">
					<img src="~/images/iconimportant.png" alt="" align="middle" /></a>
			</td>
		</tr>
		
	</table>
</div>

</div>
<div id="container">
	<div id="content" style="margin-top:0;padding-top:0;">
		<div class="main">
       <!--
	   	   <div id="main-product-shot">
				<img src="~/images/head_image_011.jpg" alt="head_image_01" width="752" height="354" style="visibility: visible; opacity: 1;margin-left:-100px;z-index: 1000;"/>
				<img src="~/images/head_image_022.jpg" alt="head_image_02" width="752" height="354" style="visibility: hidden; opacity: 0;margin-left:-100px;z-index: 1000;" />
			</div>
	   -->
	<p style="margin-left:-85px;">MacBook Air выглядит тонким и изящным — однако это маленькое чудо оснащено мощным графическим процессором NVIDIA, процессором Intel Core 2 Duo, невероятно быстрыми flash-накопителями и аккумулятором большой ёмкости. Внешний вид может быть обманчив, но производительность не скроешь.</p>

<p style="margin-left:-85px;">На MacBook Air установлены приложения для выполнения любых задач — от повседневных до почти невероятных. И выполняются эти задачи легко, интуитивно и увлекательно. Это одна из составляющих уникальности Mac.
</p>
			<p style="margin-left:-85px;">Чтобы узнать о возможностях MacBook Air 11", <a href="http://vido.com.ua/video/noutbuk-apple-macbook-air" title="Перейти по ссылке" style="color:#d00231">посмотрите специальный видеообзор</a> этого компьютера. <a href="http://www.vido.com.ua" title="Перейти по ссылке"><img src="~/images/vido-logo.png" alt="vido-logo" width="45" height="10" style="margin-top: -5px;" /></a></p>
			<p id="campaign-conditions" style="margin-left:-85px;"><strong>Срок проведения акции:</strong> с 10 февраля по 10 марта<br>
            <strong>Участники акции</strong> — авторизованные партнеры Apple: <a href="http://www.icenter.com.ua" title="Перейти по ссылке">iCenter</a>, <a href="http://store.iland.ua" title="Перейти по ссылке.">iLand</a>, <a href="http://www.istore.ua" title="Перейти по ссылке.">iStore</a>, <a href="http://www.makep.com.ua" title="Перейти по ссылке.">iVira</a>, <a href="http://www.lime.mk.ua/" title="Перейти по ссылке">LimeStore</a>, <a href="http://www.m-house.com.ua" title="Перейти по ссылке.">m-house</a>, <a href="http://www.mshop.in.ua/" title="Перейти по ссылке">mShop</a>, <a href="http://mstore.com.ua" title="Перейти по ссылке.">mstore</a>, &laquo;<a href="http://www.america.cn.ua/" title="Перейти по ссылке">Америка</a>&raquo;, &laquo;<a href="http://www.ultrahorizont.com.ua" title="Перейти по ссылке">Ультрагоризонт</a>&raquo;.</p>
	   

<div class="line" style="margin-left: -85px; width: 740px;"></div>

		<div class="section" id="last" style="margin-left:-85px;">

			<table>
				<td style="padding-right: 10px;"><div align=center >
	                	<img src="~/images/software_scrollernav_easeofuse20101020.png" alt="" width="69" height="88" /></div>
					<h3  style="color:#000;height: 55px; line-height: 18px; margin-bottom:0px;padding-bottom:0;">Mac OS X</h3>
					<p style="margin-top:0;">На MacBook Air, как и на любом другом Mac, установлена самая совершенная операционная система в мире.</p>
				</td>
				<td style="padding-right: 10px;"><div align=center>
					<img src="~/images/software_scrollernav_everydaythings20101020.png" alt="" width="118" height="88" /></div>
					<h3 style="color:#000;height: 55px; line-height: 18px; margin-bottom:0px;padding-bottom:0;">Mail, Контакты, Календарь</h3>
					<p style="margin-top:0;">Отправляйте электронную почту, управляйте календарём, организуйте список контактов и многое другое. MacBook Air сразу готов к работе.</p>
				</td>
				<td style="padding-right: 10px;"><div align=center>
					<img src="~/images/software_scrollernav_security20101020.png" alt="" width="57" height="88" /></div>
					<h3  style="color:#000;height: 55px; line-height: 18px; margin-bottom:0px;padding-bottom:0;">Безопасность и не только</h3>
					<p style="margin-top:0;">Встроенные в Mac OS X функции безопасности обеспечивают защиту MacBook Air, не требуя никаких усилий с вашей стороны.</p>
				</td>
				<td style="padding-right: 10px;"><div align=center>
					<img src="~/images/software_scrollernav_photos20101020.png" alt="" width="74" height="88" /></div>
					<h3  style="color:#000;height: 55px; line-height: 18px; margin-bottom:0px;padding-bottom:0;">iPhoto</h3>
					<p style="margin-top:0;">iPhoto — это удивительное и простое в использовании приложение для работы с фотографиями. Ваши снимки будут выглядеть просто потрясающе.</p>
				</td>
				<td style="padding-right: 10px;"><div align=center>
					<img src="~/images/software_scrollernav_movies20101020.png" alt="" width="83" height="88" /></div>
					<h3  style="color:#000;height: 55px; line-height: 18px; margin-bottom:0px;padding-bottom:0;">iMovie</h3>
					<p style="margin-top:0;">iMovie превратит ваши домашние видеозаписи в настоящие фильмы, которые приведут зрителей в восторг.</p>
				</td>
				<td ><div align=center>
					<img src="~/images/software_scrollernav_music20101020.png" alt="" width="75" height="88" /></div>
					<h3 style="color:#000">GarageBand</h3>
					<p>GarageBand — это студия звукозаписи в вашем офисе, спальне и везде, куда вы возьмёте свой Mac.</p>
				</td>
				
			</table>
         
	</div>
		

		
			<div class="clear"></div>



		</div>

		
	    </div>
	<!-- #content-->
</div>
<!-- #container-->


<script>
  $(function() {
	$.isEmptyObject = function(obj) { for (var name in obj) return false; return true; };
    $('#main-product-shot').crossSlide({
      sleep: 5,
      fade: 1
    }, [
      { src: '/images/head_image_011.jpg' },
      { src: '/images/head_image_022.jpg' }
    ])
  });
</script>

<!-- .sidebar.sr -->
