<div id="contentmenu">
	<table width="100%">
		<tr>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="" />
				<a href="~/{lang}/support/Warranty.aspx"  class="active">Гарантийные<br />  обязательства Apple </a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="" />
				<a href="~/{lang}/support/AASP.aspx">Получение статуса авторизованного<br /> сервисного центра по продукции Apple </a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator2.gif" alt="" />
				<a href="~/{lang}/ServiceCenters.aspx">Авторизованные<br />
					сервисные центры Apple</a>
			</td>
		</tr>
	</table>
</div>
<!-- #contentmenu-->
<div id="container">
	<div id="content">
		<div class="main">
			<br />
			<p>
				Компания ERC является дистрибьютором продукции Apple в Украине, и, в рамках данного
				статуса, отвечает за гарантийную поддержку на территории Украины в соответствии
				с рекомендациями и согласно политики компании Apple. На территории Украины гарантом
				выполнения гарантийных обязательств по продуктам Apple является Apple Sales International
				(Hollyhill Industrial Estate Hollyhill, Cork, Republic of Ireland).
			</p>
			<br />
			<br />
			<a href="http://www.apple.com/legal/warranty/" class="titlelink">Положения по ограниченной гарантии Apple </a>
			<br />
			<br />
			<table cellpadding="0" cellspacing="0" width="100%">
				<tr>
					<td class="t-center v-bottom">
						<img src="~/images/warranty_img1.jpg" alt="" /><br /><br />
						<a href="~/GetPdf.ashx?name=iPod_and_iSight.pdf"> iPod и iSight</a>
					</td>
					<td class="t-center v-bottom">
						<img src="~/images/warranty_img2.jpg" alt="" /><br /><br />
						<a href="~/GetPdf.ashx?name=CPU.pdf">Mac / CPU</a>
					</td>
					<td class="t-center v-bottom">
						<img src="~/images/warranty_img3.jpg" alt="" /><br /><br />
						<a href="~/GetPdf.ashx?name=Accessory.pdf">Аксессуары</a>
					</td>
					<td class="t-center v-bottom">
						<img src="~/images/warranty_img4.jpg" alt="" /><br /><br />
						<a href="~/GetPdf.ashx?name=Sparepart.pdf">Запасные части</a>
					</td>
				</tr>
			</table>
			<br />
			<br />
			<br />
			<table cellpadding="0" cellspacing="0">
				<tr>
					<td class="v-top" colspan=2>
						<h1>
							Правила приема техники Apple в гарантийный ремонт
						</h1>
					</td>
					<td class="v-top">
						&nbsp;
					</td>				</tr>	
				<tr>
					<td class="v-top">						<p>
							Прием техники Apple на гарантийное обслуживание осуществляется только при наличии
							правильно и четко заполненного гарантийного талона и чека о покупке. 
							<br /><br />
							В гарантийном
							талоне должна быть указана следующая информация:
							<br />
							<br />
							1. Cерийный номер и модель изделия
							<br />
							2. Дата продажи
							<br />
							3. Срок гарантийного обслуживания
							<br />
							4. Обязательным условием является наличие печати фирмы-продавца
							<br />
						</p>
					</td>
					<td class="v-top">
						<img src="~/images/warrantytalon.png" alt="" style="padding: 10px 0px 10px 20px;" />
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- #content-->
	<div class="clear" style="margin-bottom:30px;">
	</div>
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
				<a href="http://www.erc.ua/Service/#&&p=5" target="blank">Узнать о ходе ремонта</a>
			</td>
			<td>
				<a href="http://www.erc.ua/Service/#&&p=5" target="blank">
					<img src="~/images/icon_repair.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
					<a href="http://www.apple.com/ru/support/exchange_repair/" target="blank">Программы Apple<br />
					по замене и ремонту</a>
			</td>
			<td>
					<a href="http://www.apple.com/ru/support/exchange_repair/" target="blank">
					<img src="~/images/icon_change_repair.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/content/Important.aspx">Что важно знать о гарантии </a>
			</td>
			<td>
				<a href="~/{lang}/content/Important.aspx">
					<img src="~/images/iconimportant.png" alt="" align="middle" /></a>
			</td>
		</tr>

			<td class="txtrightmenu">
				<a href="~/{lang}/Request_SN.aspx">Проверка серийного номера</a>
			</td>
			<td>
				<a href="~/{lang}/Request_SN.aspx">
					<img src="~/images/sn.jpg" alt="sn.jpg" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/files/shipping.pdf">Отправка изделий в сервисный центр</a>
			</td>
			<td>
				<a href="/files/shipping.pdf">
					<img src="~/images/shipping.jpg"  style="padding-top:3px;" width="57px" alt="shipping" align="middle" /></a>
			</td>
		</tr>
	</table>
</div>
<!-- .sidebar.sr -->
