<div id="contentmenu">
	<table class="foursection">
		<tr>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/partners/DevelopWithApple.aspx">Развивайтесь
					<br />
					вместе с Apple</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/WhereToBuy.aspx">Авторизованные<br />
					партнеры Apple<br />
					в Украине</a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/partners/Advantages.aspx">Преимущества авторизованных партнеров </a>
			</td>
			<td>
				<img src="~/images/contentmenu_separator.gif" alt="" />
				<a href="~/{lang}/partners/HowCan.aspx">Как авторизованные<br />
					партнеры могут<br />
					зарабатывать больше? </a>
			</td>
		</tr>
	</table>
</div>
<!-- #contentmenu-->
<div id="container">
	<div id="content">
		<div class="main">
			<div class="col1" style="width: 285px">
				<img src="~/images/mHouse.jpg" alt="mHouse" style="margin-top: 5px;" />
				<br />
				<br />
				<p>
					При выполнении требований по обороту и качественным критериям<a href="#footnote"
						class="footnotelink">*</a> дилер имеет возможность претендовать на статус Авторизованного
					партнера Apple</p>
				<img src="~/images/AuthorisedReseller.gif" alt="" style="position: relative; z-index: 100;
					margin-left: -35px;" />
				<p>
					Apple Authorized Reseller (AAR) — это деловой партнер, отвечающий определенным критериям,
					а именно: профессиональный уровень персонала и качество предложений для конечного
					пользователя, которые данный реселлер предоставляет своим потенциальным клиентам,
					объем продаж.
				</p>
				<img src="~/images/PremiumReseller.gif" alt="" style="position: relative; z-index: 100;
					margin-left: -36px;" />
				<p>
					Apple Premium Reseller (APR) — партнер со статусом Премиум-партнер Apple располагаются
					в премиальных точках продаж, имеют наиболее полный ассортимент продуктов и обслуживают
					по высшему классу.
				</p>
				<img src="~/images/SolutionExpert.gif" alt="" style="position: relative; z-index: 100;
					margin-left: -35px;" />
				<p>
					Apple Solution Expert (ASE) — партнер со статусом Эксперт по решениям Apple специализируется
					по продаже решений на рынках видео, фото, аудио, дизайна, печати и образования.
				</p>
				<img src="~/images/AuthorisedServiceProvider.gif" alt="" style="position: relative;
					z-index: 100; margin-left: -35px;" />
				<p>
					Apple Authorized Service Provider (AASP) — партнер со статусом Авторизованный сервис-провайдер
					Apple может самостоятельно заниматься ремонтом оборудования, открывая тем самым
					новые возможности для получения дополнительной прибыли и повышения лояльности клиентов.</p>
				<img src="~/images/AuthorizedTrainingCenter.gif" alt="" style="position: relative;
					z-index: 100; margin-left: -35px;" />
				<p>
					Apple Authorized Training Center (AATC/AATCE) — партнер со статусом Авторизованный
					Тренинговый Центр Apple (коммерческий и учебный) имеет право проводить тренинги
					для пользователей и профессионалов c выдачей официальных сертификатов после окончания
					курсов по Mac OS X, профессиональным приложениям и другим ключевым технологиям Apple
					в зависимости от сертификации тренеров.
				</p>
				<p>
				</p>
			</div>
			<div class="col2">
				<h1>
					Авторизованный партнер Apple. Кто он?</h1>
				<p>
					Компания ERC является авторизованным дистрибьютором продукции Apple (Apple VAD)
					на территории Украины и в рамках данного статуса отвечает за авторизацию канала
					в соответствии с партнерской программой авторизации Apple, единой для всей Европы.</p>
				<p>
					Компании-дилеры, занимающиеся продажей и продвижением продукции Apple конечным потребителям
					на территории Украины, могут претендовать на следующие статусы:
				</p>
				<br />
				<br />
				<img src="~/images/iStore.jpg" alt="mHouse" style="margin-top: 5px;" />
				<br />
				<p>
					В случае, если оборот и компетенция персонала дилера в настоящее время не соответствуют
					требованиям Программы авторизации Apple, компания имеет возможность начать работу
					с продукцией Apple как партнер ERC по следующим статусам:</p>
				<img src="~/images/NonAuthorisedReseller.gif" alt="" style="position: relative; z-index: 100;
					margin-left: -45px;" />
				<p>
					Non Authorized Reseller (NAR) — неавторизованный дилер, осуществляющий закупки продукции
					Apple у Дистрибьютора ERC.</p>
				<img src="~/images/LimitedAuthorisedReseller.gif" alt="" style="position: relative;
					z-index: 100; margin-left: -45px;" />
				<p>
					Limited Authorized Reseller (LAR) — частично авторизованный реселлер, осуществляющий
					закупки продукции Apple в объеме не менее
					<br />
					$20 000 в квартал у Дистрибьютора ERC, имеющий согласованный с ERC план закупок.</p>
				<p>
					После двух кварталов успешного выполнения минимального плана продаж, компания получает
					сертификат о соответствии статуса Limited Authorized Reseller. Информация о дилере
					публикуется только на сайте <span style="white-space:nowrap;"><a href="http://www.erc.ua/apple">www.erc.ua/apple</a></span>.
				</p>
				<p>
					Компании со статусом Limited Authorized Reseller являются кандидатами на получение
					полноценного статуса авторизованного партнера Apple (AAR/APR/ASE) в перспективе.
				</p>
				<br />
				<br />
				<a href="~/{lang}/Request_LAR.aspx">
					<img src="~/images/btn_getLimitedAuthStatus_ru.png" alt="" />
				</a>
			</div>
			<div class="clear">
			</div>
			<br />
			<br />
			<div class="footnote" style="margin-bottom: 40px;">
				<div>
					*</div>
				<a id="footnote" ></a>Детальные условия описаны в Программе ERC Apple VAD авторизации
				партнеров по продукции Apple 2009—2010, которую вы можете найти на <a href="https://connect.erc.ua/">B2B сайте
					компании ERC</a>
			</div>
		</div>
		<div class="clear">
		</div>
	</div>
	<!-- #content-->
</div>
<!-- #container-->
<div class="sidebar sr">
	<table align="right">
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/partners/certificate.aspx">Сертификация <br />и онлайн-ресурсы</a>
			</td>
			<td>
				<a href="~/{lang}/partners/certificate.aspx">
					<img src="~/images/icon_online_resources.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/partners/trademark.aspx">Использование <br />торговых
					марок <br />и символики Apple</a>
			</td>
			<td>
				<a href="~/{lang}/partners/trademark.aspx">
					<img src="~/images/icon_copyright.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="~/{lang}/PartnersNews.aspx">Hовости для партнеров</a>
			</td>
			<td>
				<a href="~/{lang}/PartnersNews.aspx">
					<img src="~/images/icon_news.png" alt="" align="middle" /></a>
			</td>
		</tr>
		<tr>
			<td class="txtrightmenu">
				<a href="https://connect.erc.ua/">Вход на В2В портал</a>
			</td>
			<td>
				<a href="https://connect.erc.ua/">
					<img src="~/images/icon_b2b.png" alt="" align="middle" /></a>
			</td>
		</tr>
	</table>
</div>
<!-- .sidebar.sr -->
