<div id="container">
				<div id="content">
					<div class="main">
						<br />
						<div class="col1" style="width: 290px">
							<a href="#" class="titlelink">Домашние пользователи</a>
							<p>
								Компания Apple широко известна во всем мире благодаря своим инновационным продуктам,
								которые отлично отвечают современным запросам пользователей и при этом являются
								простыми и понятными в обращении. Основой успешности продукции Apple являются ее
								высокое качество, дизайн и функциональность.
							</p>
						</div>
						<div class="col3">
							<img src="~/images/whymac_img1.jpg" alt="mHouse" style="margin-top: 5px;" />
						</div>
						<div class="clear">
						</div>
						<div class="col1" style="width: 290px">
							<h1>
								Профессионалы</h1>
							<p>
								Apple предоставляет широкий спектр программ и техники для воплощения ярких и смелых
								идей в жизнь. Поэтому в области профессионального дизайна, фотографии, звукорежиссуры
								и кинопроизводства продукты Apple пользуются заслуженно высокой популярностью.
							</p>
						</div>
						<div class="clear">
						</div>
						<br />
						<div class="col1" style="width: 290px">
							<img src="~/images/whymac_img2.jpg" alt="mHouse" style="margin-left: -55px;" />
						</div>
						<div class="col3">
							<a href="#" class="titlelink">Аудио</a>
							<p>
								Благодаря профессиональным приложениям Logic Studio, музыканты смогут сочинять,
								записывать, редактировать и микшировать музыку, не утрачивая вдохновения.
							</p>
						</div>
						<div class="clear">
						</div>
						<br />
						<div class="col1" style="width: 290px">
							<img src="~/images/whymacimg3.jpg" alt="mHouse" style="margin-left: -55px; z-index: 100; position:relative;" />
						</div>
						<div class="col3">
							<a href="#" class="titlelink">Видео</a>
							<p>
								В профессиональном приложении Final Cut Studio представлены инновационные технологии
								для кинопроизводства, благодаря которым вы сможете работать быстрее, сотрудничать
								с вашими клиентами эффективнее и достигать превосходных результатов.
							</p>
						</div>
						<div class="clear">
						</div>
						<br />
						<div class="col1" style="width: 290px">
							<img src="~/images/whymac_img4.jpg" alt="mHouse" style="margin-left: -55px;" />
						</div>
						<div class="col3">
							<a href="#" class="titlelink">Фото</a>
							<p>
								Apple предлагает профессиональным фотографам мощное средство редактирования и организации
								своих работ. Aperture содержит полный набор инструментов для обработки фотографий:
								от съёмки до выпуска готовой продукции непревзойдённого качества.
							</p>
						</div>
						<div class="clear">
						</div>
						<br />
						<br />
						<br />
						<div class="col1" style="width: 290px">
							<a href="#" class="titlelink">Малый и средний бизнес</a>
							<p>
								В какой бы сфере вы не работали, в любой из них компьютеры Mac завоевывают популярность.
							</p>
							<p>
								С помощью продуктов Apple можно уменьшить затраты, повысить производительность,
								снизить риски и повысить гибкость бизнеса.
							</p>
						</div>
						<div class="col3">
							<img src="~/images/whymac_img5.jpg" alt="mHouse" style="" />
						</div>
						<div class="clear">
						</div>
						<br />
				
						<div class="col1" style="width: 290px">
							<a href="#" class="titlelink">Образование</a>
							<p>
								От MacBook и iMac до iPod и iPhone — устройства Apple прекрасно подходят для образования.
								Компьютеры Mac и продукты Apple являются надёжными, прочными, совместимыми и лёгкими
								в использовании, что делает их идеальными для студентов и ежедневного использования.
							</p>
							<p>
								Включённое в них программное обеспечение Apple, такое как iLife и Mac OS X, разработано
								с целью полноценной интеграции. Поэтому всё просто работает.
							</p>
						</div>
						<div class="col3">
							<img src="~/images/whymac_img6.jpg" alt="mHouse" style="margin-left: -25px;" />
						</div>
						<div class="clear">
						</div>
					</div>
					<div class="clear">
					</div>
				</div>
				<!-- #content-->
			</div>
			<!-- #container-->
			<div class="sidebar sr">
				<table align="right">
					<tr>
						<td class="txtrightmenu">
							<a href="/#Subscribe">Подписаться <br />на новости</a>
						</td>
						<td>
							<a href="#">
								<img src="~/images/icon_news.png" alt="" align="middle" /></a>
						</td>
					</tr>
					<tr>
						<td class="txtrightmenu">
							<a href="~/{lang}/Interesting.aspx">Интересно знать</a>
						</td>
						<td>
							<a href="#">
								<img src="~/images/icon_about.png" alt="" align="middle" /></a>
						</td>
					</tr>
					<tr>
						<td class="txtrightmenu" style="padding-top:10px;">
							<a href="#">Обратная связь</a>
						</td>
						<td>
							<a href="#">
								<img src="~/images/icon_feedback.png" alt="" align="middle" /></a>
						</td>
					</tr>
				</table>
			</div>
			<!-- .sidebar.sr -->