.ui-widget
{
	font-size: 12px;
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
}
.accordion
{
	position:relative;
	left:-30px;
}
.accordion p
{
	margin:0;
}

.accordion.ui-accordion .ui-accordion-header 
{
	border:none;
	background:none;
}
.accordion.ui-accordion .ui-accordion-li-fix {  }
.accordion.ui-accordion .ui-accordion-header-active {  }
.accordion.ui-accordion .ui-accordion-header a {  }
.accordion.ui-accordion .ui-accordion-header .ui-icon {  }
.accordion.ui-accordion .ui-accordion-content 
{
	border:none;
	background:none;
	padding-top:0;
}
.accordion.ui-accordion .ui-accordion-content-active {  }

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
.ui-state-default a:hover
{
	color:#468AB8;
	text-decoration:underline;
	font-size: 14px;
}

.ui-state-hover a,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-hover a:hover
{
	color:#468AB8;
	text-decoration:underline;
	font-size: 14px;
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited,
.ui-state-active a:hover
{
	color:#468AB8;
	text-decoration:underline;
	font-size: 14px;
}

